<section class="mt-5" id="topicsDashboardApp">
    <div class="container" style="min-height:65vh">
        <div class="row justify-content-center box-bg-container">

			<div class="col-md-3">
				<h2>Topics</h2>
				
				<ul class="side-nav">
					<% topics.forEach(function(topic,key) {  %>
						
						<% if(topic.sub && topic.sub.length > 0) { %>
						<li><%= topic.name %></li>
						<ul>
							<% for(let cnt=0; cnt < topic.sub.length; cnt++) {  %>
								<li v-bind:class="topicId == topic.sub[cnt]._id ? 'active':'d'" v-on:click="setTopic('<%= topic.sub[cnt]._id %>')" ><%= topic.sub[cnt].name %></li>
							<% } %>
						</ul>
						<% } %>
					<% }) %>
					
				</ul>
			</div>

			<div class="col-md-9">
				<div class="" v-if="topic">
					<div class="row mb-3 mt-3 topic-block" style="align-items: center;">
						<div class="col-md-2 text-left">
							<h4>{{ topic.parentName }}</h4>
							<img class="img-responsive" :src="'/beta/images/'+topic.parentName.replace(' ','-').toLowerCase()+'.png'">
						</div>
						<div class="col-md-10 text-left">
							<h4> This topic is all about <strong>{{ topic.name }}</strong></h4>
							<p>{{ topic.description }}</p>
						</div>
					</div>
					
					<div class="commentHead">
						<table class="table">
							<tr>
								<td style="width:90%">Last Comment: {{ dateFormat(comments[(comments.length -1)].created_at) }}</td>
								<td><i class="fa fa-comments" style="margin-right: 5px;"></i>{{ comments.length }}</td>
								<td><i class="fa fa-eye" style="margin-right: 5px;"></i>{{ topic.viewCount ? topic.viewCount : 0 }}</td>
							</tr>
						</table>
					</div>
					<div class="" v-if="comments.length > 0">
						<ul class="message-blocks">
							<li v-for="comment in comments">
								<div class="message-data text-left">
									<span class="message-data-name">{{ comment.testerName }}</span>
									<span class="message-data-time">{{ dateFormat(comment.created_at) }}</span>
								</div>
								<div class="message"> {{ comment.message }} 
									<div class="message-attachments" v-if="comment.file.length > 0" >
										<div v-for="(key, file) in comment.file">
											
											<img @click="imageClick(file)" :src="'/beta/uploads/comments/'+file">
										</div>
									</div>
								</div>

								
								
							</li>
						</ul>
					</div>
	
					<div class="" v-if="comments.length == 0">
						<p>Be the first to send a feedback</p>
					</div>

					

					
					 

				</div>

				<div class="" v-if="!topic">
					<p>please select topic</p>

					<!-- <div id="drop-area" style="display: none;">
						<label>File</label>
						<input type="file" v-model="files" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
						<label class="button" for="fileElem">Select some files</label>
					
						<div id="progress-bar" max=100 value=0></div>
						<div id="gallery"></div>
					</div> -->

				</div>

				<!-- form add comments -->
				<% if(userData) { %>
					<!-- form add comments -->
					<form style="border: 1px dashed #ccc;padding: 20px;margin-top:50px; font-size: 14px;" @submit.prevent="addComment()" enctype="multipart/form-data">
						<h6 v-if="!replyTo">Add Comment</h6>
						<h6 v-if="replyTo">Reply to </h6>
						<div v-if="replyToData" @click="removeReply" class="replyBox">
							<span><i class="fa fa-times"></i></span>
							<p>Name: {{ replyToData.testerName }}</p>
							<p> {{ replyToData.message }} </p>
						</div>
						<hr>
						<div class="form-group-inline">
							<input type="hidden" v-model="replyTo" class="form-control">
							<input type="hidden" v-model="testerName" value="<%= userData.username %>" class="form-control" required>
							<input type="hidden" v-model="testerAvatar" value="<%= userData.avatar_url %>" class="form-control" required>
						</div>
	
						<div class="form-group">
							<label>Feedback</label>
							<textarea class="form-control" v-model="message" name="notes" rows="3" required></textarea>
						</div>
	
						<div id="drop-area" >
							  <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
							  <label class="button btn btn-info" for="fileElem">Add Attachments</label>
								<p>Drag & Drop Images HERE</p>
							<div id="progress-bar" max=100 value=0></div>
							<div id="gallery">
								<div class="" v-if="files" >
									<div v-for="(key, file) in files">
										<i @click="removeFile(key)" class="fa fa-times"></i>
										<img :src="'/beta/uploads/comments/'+file">
									</div>
								</div>
							</div>
						</div>
	
					
						<div class="form-group text-center">
							<input class="btn btn-primary" type="submit" value="Submit Feedback as <%= userData.username %>">
						</div>
		
					</form>
					<% } else { %>
						<p style="font-style: italic;">Please login and send us your FeedBack <a class="btn btn-primary" href="https://www.chinesepod.com/login">Login</a></p>
					<% } %>

			</div>
		
		</div>

		<!-- The Modal -->
		<div id="imageModal" class="custom-modal">
			<span @click="closeImageModal()" class="close">&times;</span>
			<img class="custom-modal-content" id="img01">
		</div>

    </div>
</section>

<%- include('../partials/topicsDashboardApp'); %>
