<section class="cprecap-info">
    <div class="container" style="min-height:65vh">
        <div class="row justify-content-center box-bg-container">

			<div class="col-11 text-center mb-5">
				<h2>This is the ChinesePod Express App beta Test Forum, a space to become a tester and share your experiences, suggestions, and be part of a growing community.</h2>
			</div>

			<div class="col-md-6">
				
				<% topics.forEach(function(topic,key) {  %>
					
					<div class="row topic-block text-left mb-3">
						
						<div class="col-md-2">
							<img class="img-responsive" src="/beta/images/<%= topic.parentName.replace(' ','-').toLowerCase() %>.png">
						</div>
						<div class="col-md-10">
							<h4 class=""><%= topic.name %></h4>
							<p class=""><%= topic.description %></p>
							
						</div>
						<div class="col-md-12">
							<p class="author"><%= topic.parentName %> <%= moment(topic.created_at).format('MMM D, YYYY') %></p>
						</div>

						<a class="block-link" href="/beta/forums/<%= topic._id %>"></a>
						
					</div>

				<% }) %>
			</div>

			<div class="col-md-6">
				latest comments here
			</div>


			
		</div>



    </div>
</section>


