<section class="cprecap-actions-banner">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-11 text-center">
				<h3>Welcome to our ChinesePod Beta Program</h3>
				<div v-if="userData.token && !userData.isBetaTester">
					<%- include('../partials/participate-block'); %>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mt-5">
    <div class="container" style="min-height:65vh">
        <div class="row justify-content-center box-bg-container">

			<div class="col-md-3">
				<h2>Topics</h2>
				
				<ul class="side-nav">

						<li v-for="topic in topics" >
							<h6>{{ topic.name }}</h6>
							<ul>
								<li v-for="sub in topic.sub" v-bind:class="topicId == sub._id ? 'selected':'d'" v-on:click="setTopic(sub._id)" >{{ sub.name }}
									<span style="float: right;">{{ sub.numberOfComments ? '('+sub.numberOfComments+')':'(0)' }}</span>
								</li>
							</ul>
						</li>
				
				</ul>
				<a class="btn btn-primary" href="/beta/forums">Add New Topic</a>
			</div>

			<div class="col-md-9">
				<div class="" v-if="topic">
					<div class="row mb-3 mt-3 topic-block" style="align-items: center;">
							
						<div class="col-3 text-left">
							<h4 class="d-none d-lg-block d-md-block">{{ topic.parentName }}</h4>
							<img class="img-responsive" :src="'/beta/images/'+topic.parentName.replace(' ','-').toLowerCase()+'.png'">
						</div>
						<div class="col-9 text-left">
							<h4> This topic is all about <strong>{{ topic.name }}</strong></h4>
							<p v-html="topic.description.replace('\n','<br>')"></p>
						</div>
					</div>
					
					<div class="commentHead">
						<table class="table">
							<tr>
								<td >Last Comment: {{ dateFormat(comments[(comments.length -1)].created_at) }}</td>
								<td style="width:50px"><i class="fa fa-comments" style="margin-right: 5px;"></i>{{ comments.length }}</td>
								<td style="width:50px"><i class="fa fa-eye" style="margin-right: 5px;"></i>{{ topic.viewCount ? topic.viewCount : 0 }}</td>
							</tr>
						</table>
					</div>
					<div class="comments-block" v-if="comments.length > 0">
						<ul class="message-blocks">
							<li :id="comment._id" v-for="comment in comments" :class="comment.replyToData ? 'hasComment': ''">

								<a v-if="comment.replyToData" class="replyBox">
									<p><b>REPLY TO</b></p>
									<p><img class="profilePicReply" :src="comment.testerAvatar ? comment.testerAvatar : 'https://www.chinesepod.com/home/img/brand/symbol-black-center.svg'"> {{ comment.replyToData.testerName }}</p>
									<p> {{ comment.replyToData.message }} </p>
								</a>

								<div class="message-wrapper">
									<div class="message-data text-left">
										<span class="message-data-name"><img class="profilePic" :src="comment.testerAvatar ? comment.testerAvatar : 'https://www.chinesepod.com/home/img/brand/symbol-black-center.svg'"> {{ comment.testerName }}</span>
										<span class="message-data-time">{{ dateFormat(comment.created_at) }}</span>
									</div>
									<div class="message"> 
										<p v-html="comment.message.replace('\n','<br>')"></p>
									
									
										<div class="message-attachments" v-if="comment.file.length > 0" >
											<div v-for="(key, file) in comment.file">
												
												<img v-if="file" @click="imageClick(file)" :src="'/beta/uploads/comments/'+file">
											</div>
										</div>
									</div>
									
									<p v-if="userData.token && userData.isBetaTester" @click="setReply(comment._id)" class="message-reply btn btn-primary">
										Reply
									</p>
								</div>

								
								
								
							</li>
						</ul>
					</div>
	
					<div class="" v-if="comments.length == 0">
						<p>Be the first to send a feedback</p>
					</div>

					

					
					 

				</div>

				<div class="" v-if="!topic">
					<p>please select topic</p>

					<!-- <div id="drop-area" style="display: none;">
						<label>File</label>
						<input type="file" v-model="files" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
						<label class="button" for="fileElem">Select some files</label>
					
						<div id="progress-bar" max=100 value=0></div>
						<div id="gallery"></div>
					</div> -->

				</div>

				<!-- form add comments -->
				<% if(userData && userData.isBetaTester) { %>
					<!-- form add comments -->
					<form id="commentForm" style="border: 1px solid #ccc;padding: 20px;margin-top:50px; font-size: 14px;background: #fff;" @submit.prevent="addComment()" enctype="multipart/form-data">
						<h6 v-if="!replyTo">Add Feedback</h6>
						<h6 v-if="replyTo">Reply to </h6>
						<div v-if="replyToData" @click="removeReply" class="replyBox">
							<span><i class="fa fa-times"></i></span>
							<p>Name: {{ replyToData.testerName }}</p>
							<p> {{ replyToData.message }} </p>
						</div>
						<div class="form-group-inline">
							<input type="hidden" v-model="replyTo" class="form-control">
							<input type="hidden" v-model="testerName" value="<%= userData.username %>" class="form-control" required>
							<input type="hidden" v-model="testerAvatar" value="<%= userData.avatar_url %>" class="form-control" required>
						</div>
	
						<div class="form-group">
							<textarea id="contentArea" class="form-control" v-model="message" name="notes" rows="1"></textarea>
						</div>
	
						<div id="drop-area" >
							  <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
							  <label class="button btn btn-info" for="fileElem">Add Attachments</label>
								<p>Drag & Drop Images HERE</p>
							<div id="progress-bar" max=100 value=0></div>
							<div id="gallery">
								<div class="" v-if="files" >
									<div v-for="(key, file) in files">
										<i @click="removeFile(key)" class="fa fa-times"></i>
										<img :src="'/beta/uploads/comments/'+file">
									</div>
								</div>
							</div>
						</div>
	
					
						<div v-if="topic" class="form-group text-center">
							<input class="btn btn-primary" type="submit" value="Submit Feedback as <%= userData.username %>">
						</div>
						<div v-if="!topic" class="form-group text-center">
							<input class="btn btn-primary" type="submit" value="Submit Feedback as <%= userData.username %>" disabled>
						</div>
		
					</form>
				<% } else { %>
					<p style="font-style: italic;">Please login and participate with our chinesepod Beta Program<br> <a class="btn btn-primary" target="_blank" href="https://www.chinesepod.com/login">Login</a></p>
				<% } %>

			</div>
		
		</div>

		<!-- The Modal -->
		<div id="imageModal" class="custom-modal">
			<span @click="closeImageModal()" class="close">&times;</span>
			<img class="custom-modal-content" id="img01">
		</div>

    </div>
</section>


