<section class="cprecap-actions-banner">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-11 text-center">
				<h3>This is the ChinesePod Beta Program Room, a space where you can share your experiences and suggestions, report any bugs and issues, and meet fellow testers in the ChinesePod community. </h3>
				<div v-if="userData.token && !userData.isBetaTester">
					<%- include('../partials/participate-block'); %>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cprecap-info">
    <div class="container" style="min-height:65vh">
        <div class="row justify-content-center box-bg-container">

			<% if (flash.success) { %>
			<div class="alert alert-success" role="alert">
				<strong><%= flash.success %></strong>
			</div>
			<% } %>
			
			<% if (flash.error) { %>
			<div class="alert alert-danger" role="alert">
				<strong><%= flash.error %></strong>
			</div>
			<% } %>

			<div v-if="userData.isBetaTester" class="col-md-12 mb-5 mt-3">
				<h4>Add New Topic</h4>
				<form method="post" enctype="multipart/form-data">

					<div class="form-group">
						<label>Category</label>
						<select name="parentName" class="form-control">
							<% topics.forEach(function(topic,key) {  %>
								<option value="<%= topic.name %>"><%= topic.name %></option>
							<% }) %>
						</select>
					</div>

					<div class="form-group">
						<label>Topic</label>
						<input type="text" name="name" class="form-control" required>
					</div>

					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" name="description" rows="3"></textarea>
					</div>

					<div class="form-group">
						<label>Topic Image/Screenshot</label>
						<input type="file" name="topicImage" >
					</div>

					<div class="form-group">
						<input type="hidden" name="status" class="form-control" value="publish">
					</div>

					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Submit Topic <%= userData ? 'as '+userData.username : '' %>">
					</div>

				</form>
	
				<hr>
			</div>

			<div v-if="!userData.token" class="col-md-12 mb-5">
				<p style="font-style: italic;">Please login and send us your FeedBack <br><a class="btn btn-primary" target="_blank" href="https://www.chinesepod.com/login">Login</a></p>
			</div>
			

			<div class="col-md-6">
				<h4><i class="fa fa-users topic-icon"></i> Topics</h4>
				<hr>
				<div class="" style="max-height: 100vh;overflow-y: auto;overflow-x: hidden;margin-bottom: 30px;">
				<% subTopics.forEach(function(topic,key) {  %>
					
					<div class="row topic-block text-left mb-3">
						
						<div class="col-2">
							<img class="img-responsive" src="/beta/images/<%= topic.parentName.replace(' ','-').toLowerCase() %>.png">
						</div>
						<div class="col-10">
							<h4 class=""><%= topic.name %></h4>
							<p class=""><%= topic.description %></p>
							
						</div>
						<div class="col-12">
							<p class="author"><%= topic.parentName %> <%= moment(topic.created_at).format('MMM D, YYYY') %></p>
						</div>

						<a class="block-link" href="/beta/forums/<%= topic._id %>"></a>
						
					</div>

				<% }) %>
				</div>
			</div>

			<div class="col-md-6">
				<% if(latestComments && latestComments.length > 0) { %>
					<h4><i class="fa fa-comments topic-icon"></i> Latest Feedbacks </h4>
					<hr>
					<div class="" style="max-height: 100vh;overflow-y: auto;overflow-x: hidden;margin-bottom: 30px;">
					<ul class="message-blocks">
						<% latestComments.forEach(function(comment,key) {  %>
						<li>

							
							<% if(comment.replyToData) { %>
								<a class="replyBox">
									<p><b>REPLY TO</b></p>
									<p><img class="profilePicReply" src="<%= comment.testerAvatar ? comment.testerAvatar : 'https://www.chinesepod.com/home/img/brand/symbol-black-center.svg' %>"> <%= comment.replyToData.testerName %></p>
									<p> <%= comment.replyToData.message %> </p>
								</a>
							<% } %>

							<div class="message-wrapper">
								<div class="message-data text-left">
									<span class="message-data-name"><img class="profilePic" src="<%= comment.testerAvatar ? comment.testerAvatar : 'https://www.chinesepod.com/home/img/brand/symbol-black-center.svg' %>"> <%= comment.testerName %></span>
									<span class="message-data-time"><%= moment(comment.created_at).format('MMMM Do YYYY, h:mm:ss') %></span>
								</div>
								<div class="message"> 
									<p><%- comment.message.replace("\n","<br>") %> </p>
									<% if(comment.file.length > 0) { %>
										<div class="message-attachments">
										<% comment.file.forEach(function(file,key) {  %>	
										<% if(file) { %><div>
											<img src="/beta/uploads/comments/<%= file %>">
										</div><% } %>
										<% }) %>
										</div>
									<% } %>
								</div>
								
							</div>

							
							
							
						</li>
						<% }) %>
					</ul>
					</div>
				<% } else { %>
					<p style="font-style: italic;">No Comments Found</p>
				<% } %>
				
			</div>

			


			
		</div>



    </div>
</section>


