<section class="cprecap-banner">
	<div class="jumbotron jumbotron-fluid">
		<div class="row justify-content-center">
			<div class="cprecap-banner-body col-11">
				<h1><span>Welcome to the BETA Version of the ChinesePod Express App Forum -</span><br>
					The Community you deserve, help us make it better for you!</h1>
				<p class="button-comb">
					<a class="btn btn-danger cprecap-btn-try rounded-pill pt-3 pb-3 pl-5 pr-5 mb-3" href="https://play.google.com/store/apps/details?id=com.chinesepod.express">Mobile APP</a>&nbsp;
					<a class="btn btn-danger cprecap-btn-try rounded-pill pt-3 pb-3 pl-5 pr-5 mb-3" href="https://play.google.com/apps/testing/com.chinesepod.express">Web APP</a><br>
					<strong>TRY OUT</strong> Our Beta APP</p>
			</div>
		</div>
	</div>
</section>
<!-- 
<section class="cprecap-info" id="about">
	<div class="container-xl">
		<div class="row pl-3 pr-3">
			<div class="col-lg-6 text-center">
				<img src="/images/app-in-devices.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 text-center mb-5">
			  <h3 class="mb-3">ChinesePod Beta APP<br>
				  <small>offers access to short review segments based on full-length ChinesePod lessons.</small></h3>
				<p>These are aimed explicitly at solidifying previously studied material and extend long-term retention.</p>

				<h4 class="text-left">Beta Feedback</h4>
				<ul class="text-left">
					<% topics.forEach(function(topic,key) {  %>
						<li><%= topic.name %></li>
						<% if(topic.sub) { %>
						<ul>
							<% for(let cnt=0; cnt < topic.sub.length; cnt++) {  %>
								<li><a href="/forums/<%= topic.sub[cnt]._id %>"><%= topic.sub[cnt].name %></a></li>
							<% } %>
						</ul>
						<% } %>
					<% }) %>
					
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="cprecap-actions-banner">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-11 text-center">
				<h3>Save time by watching concise summaries instead of browsing for long lessons.</h3>
				<p>If you only have a few minutes to spare, jump right back into relevant content and ensure long-term retention.</p>
			</div>
		</div>
	</div>
</section>

<section class="cprecap-actions">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-11 text-center mb-5">
				<h3>Install ChinesePod Beta APP</h3>
				<p>Enjoy quick recap segments from your latest ChinesePod lessons.</p>
				<p><a class="m-2" href="https://play.google.com/store/apps/details?id=llc.chinesepod.recap"><img src="/images/get-it-on-googleplay-color.png" width="353" height="105" alt="Get it on GooglePlay" class="img-fluid"></a></p>
			</div>
		</div>
	</div>
</section> -->

<section class="mt-5" id="topicsDashboardApp">
    <div class="container" style="min-height:65vh">
        <div class="row justify-content-center box-bg-container">

			<div class="col-11 text-center mb-5">
				<h3>This is the ChinesePod Express App beta Test Forum, a space to become a tester and share your experiences, suggestions, and be part of a growing community.</h3>
			</div>

			<div class="col-md-3">
				<h2>Topics</h2>
				
				<ul class="side-nav">
					<% topics.forEach(function(topic,key) {  %>
						
						<% if(topic.sub && topic.sub.length > 0) { %>
						<li><%= topic.name %></li>
						<ul>
							<% for(let cnt=0; cnt < topic.sub.length; cnt++) {  %>
								<li class="topic" v-on:click="setTopic('<%= topic.sub[cnt]._id %>')" ><%= topic.sub[cnt].name %></li>
							<% } %>
						</ul>
						<% } %>
					<% }) %>
					
				</ul>
			</div>

			<div class="col-md-9">
				<div class="" v-if="topic">
					<h4><img src="/beta/images/app-device.png" style="width:150px; margin-right:20px"> This topic ({{ topic.parentName }}) is all about <strong>{{ topic.name }}</strong></h4>
					<div class="commentHead">
						<table class="table">
							<tr>
								<td style="width:90%">Last Comment: {{ dateFormat(comments[(comments.length -1)].created_at) }}</td>
								<td><i class="fa fa-comments" style="margin-right: 5px;"></i>{{ comments.length }}</td>
								<td><i class="fa fa-eye" style="margin-right: 5px;"></i>{{ topic.viewCount ? topic.viewCount : 0 }}</td>
							</tr>
						</table>
					</div>
					<div class="" v-if="comments.length > 0">
						<ul class="message-blocks">
							<li :id="comment._id" v-for="comment in comments" :class="comment.replyToData ? 'hasComment': ''">

								<a v-if="comment.replyToData" class="replyBox">
									<p><b>REPLY TO</b></p>
									<p>Name: {{ comment.replyToData.testerName }}</p>
									<p> {{ comment.replyToData.message }} </p>
								</a>

								<div class="message-wrapper">
									

									<div class="message-data text-left">
										<span class="message-data-name">{{ comment.testerName }}</span>
										<span class="message-data-time">{{ dateFormat(comment.created_at) }}</span>
									</div>
									<div class="message"> {{ comment.message }} 
										<div class="message-attachments" v-if="comment.file.length > 0" >
											<div v-for="(key, file) in comment.file">
												
												<img v-if="file" @click="imageClick(file)" :src="'/beta/uploads/comments/'+file">
											</div>
										</div>

										<p @click="setReply(comment._id)" class="message-reply btn btn-primary" style="font-size: 12px;margin: 0;">
											Reply
										</p>
									</div>
								</div>

								
								
								
							</li>
						</ul>
					</div>
	
					<div class="" v-if="comments.length == 0">
						<p>No Comments Yet</p>
					</div>

					

					
					 

				</div>

				<div class="" v-if="!topic">
					<p>please select topic</p>

					<!-- <div id="drop-area" style="display: none;">
						<label>File</label>
						<input type="file" v-model="files" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
						<label class="button" for="fileElem">Select some files</label>
					
						<div id="progress-bar" max=100 value=0></div>
						<div id="gallery"></div>
					</div> -->

				</div>

				<!-- form add comments -->
				<form style="border: 1px dashed #ccc;padding: 20px;margin-top:50px; font-size: 14px;" @submit.prevent="addComment()" enctype="multipart/form-data">
					<h6 v-if="!replyTo">Add Comment</h6>
					<h6 v-if="replyTo">Reply to </h6>
					<div v-if="replyToData" @click="removeReply" class="replyBox">
						<span><i class="fa fa-times"></i></span>
						<p>Name: {{ replyToData.testerName }}</p>
						<p> {{ replyToData.message }} </p>
					</div>
					<hr>
					<div class="form-group-inline">
						<label>Name</label>
						<input type="hidden" v-model="replyTo" class="form-control">
						<input type="text" v-model="testerName" class="form-control" required>
					</div>

					<div class="form-group">
						<label>message</label>
						<textarea class="form-control" v-model="message" name="notes" rows="3" required></textarea>
					</div>

					<div id="drop-area" >
						  <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
						  <label class="button btn btn-info" for="fileElem">Add Attachments</label>
							<p>Drag & Drop Images HERE</p>
						<div id="progress-bar" max=100 value=0></div>
						<div id="gallery">
							<div class="" v-if="files" >
								<div v-for="(key, file) in files">
									<i @click="removeFile(key)" class="fa fa-times"></i>
									<img :src="'/beta/uploads/comments/'+file">
								</div>
							</div>
						</div>
					</div>

				
					<div class="form-group text-center">
						<input class="btn btn-primary" type="submit" value="Submit">
					</div>
	
				</form>

			</div>
		
		</div>

		<!-- The Modal -->
		<div id="imageModal" class="custom-modal">
			<span @click="closeImageModal()" class="close">&times;</span>
			<img class="custom-modal-content" id="img01">
		</div>

    </div>
</section>

<%- include('../partials/topicsDashboardApp'); %>