<section class="cprecap-info" id="about">
	<div class="container-xl" style="min-height:65vh">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/beta/admin-dashboard/">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Comments</li>
			</ol>
		</nav>

        <div class="row justify-content-center box-bg-container">

			<div class="col-md-12">
				<h2>Comments</h2>
				<% if (flash.success) { %>
					<div class="alert alert-success" role="alert">
						<strong><%= flash.success %></strong>
					</div>
				<% } %>
					
				<% if (flash.error) { %>
					<div class="alert alert-danger" role="alert">
						<strong><%= flash.error %></strong>
					</div>
				<% } %>
				<% if(comments && comments.length > 0) { %>
					<table id="dataTBL" class="table">
						<thead>
						<tr>
							<th>Beta Tester</th>
							<th style="width: 50%">Comment</th>
							<th>Date</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						<% comments.forEach(function(comment,key) {  %>
							<tr>
								<td data-sort="<%= moment(comment.created_at).unix() %>"><%= comment.testerName %></td>
								<td><%- comment.message.replace("\n","<br>") %></td>
								<td><%= moment(comment.created_at).format('MMM D, YYYY') %></td>
								<td>
									<a href="/beta/admin-dashboard/comments/delete/<%= comment._id %>"><i class="fa fa-trash"></i></a>
								</td>
							</tr>
						<% }) %>
					</tbody>
					</table>
				<% } else { %>
					<p>Sorry, no comments found!</p>
				<% } %>
			</div>
		
		</div>
    </div>
</section>
