<section class="cprecap-info" id="about">
	<div class="container-xl" style="min-height:65vh">
		
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/beta/admin-dashboard/">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Testers</li>
			</ol>
		</nav>

        <div class="row justify-content-center box-bg-container">

			<div class="col-md-12">
				<% if (flash.success) { %>
					<div class="alert alert-success" role="alert">
						<strong><%= flash.success %></strong>
					</div>
				<% } %>
					
				<% if (flash.error) { %>
					<div class="alert alert-danger" role="alert">
						<strong><%= flash.error %></strong>
					</div>
				<% } %>
				<h2>Beta Testers</h2>
				
				<% if(users && users.length > 0) { %>
					<table class="table">
						<tr>
							<th>Username</th>
							<th>Email</th>
							<th>Date Joined</th>
							<th></th>
						</tr>
						<% users.forEach(function(user,key) {  %>
							<tr>
								<td><%= user.username %></td>
								<td><%= user.email %></td>
								<td><%= moment(user.testerJoinDate).format("MMMM Do YYYY") %></td>
								<td>
									<a href="/beta/admin-dashboard/testers/edit/<%= user._id %>"><i class="fa fa-pen"></i></a>
								</td>
							</tr>
						<% }) %>
					</table>
				<% } else { %>
					<p>Sorry, no testers found!</p>
				<% } %>
			</div>

			

		
		</div>
    </div>
</section>
