<section style="padding-top:30px">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="video-header">
					<h1><%= content.title %></h1>
					<div class="breadcrumb" style="padding: 15px 30px">
						<nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns=&#39;http://www.w3.org/2000/svg&#39; width=&#39;8&#39; height=&#39;8&#39;%3E%3Cpath d=&#39;M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z&#39; fill=&#39;currentColor&#39;/%3E%3C/svg%3E&quot;);" aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item" aria-current="page"><a href="/courses">Course Overview</a></li>
								<li class="breadcrumb-item active" aria-current="page"><%= content.title %>
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="my-btn-group d-flex align-items-center mt-2 gap-3 mb-4 mb-lg-0">
					<button @click="saveLesson" type="button" v-bind:calss="is-active: lesson.saved" class="btn w-100 bg-white">
						<strong>Save</strong>
					</button>
					<button @click="studyCompleted" type="button" v-bind:class="is-active: (lesson.studied > 0 ? false : true)" class="btn w-100 text-white">
						<strong>Complete</strong>
					</button>
				</div>
			</div>


		</div>
		<div class="row">

				
			<div class="col-lg-9">

				<div class="tab-content" >
					<% if(content.video){ %>

					<div class="tab-pane fade show active" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
						<div class="video-main">

							<div class="card mb-0">

								<div class="protected"> 
									<script src="https://fast.wistia.com/embed/medias/<%= content.video %>.jsonp" async></script>
									<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
									<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
										<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
											<div class="wistia_embed wistia_async_<%= content.video %> videoFoam=true" style="height:100%;position:relative;width:100%">
												<div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
													<img src="https://fast.wistia.com/embed/medias/<%= content.video %>/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<% } %>

					<div class="tab-pane fade <%= !content.video ? 'show active' : '' %>" id="nav-audio" role="tabpanel" aria-labelledby="nav-audio-tab">
						<div class="video-main">

							<div class="card mb-0">
								<%
								let imageUrl = ""
								if (content.image.includes("https")) {
									imageUrl = content.image
								} else {
									imageUrl = "https://s3contents.chinesepod.com/"+ content.v3_id + "/" + content.hash_code +"/"+ content.image
								}

								%>

								<img alt="<%= content.title %>" class="card-img" src="<%= imageUrl %>" lazy="loaded">
								<div id="lessonOverlay" class="card-img-overlay d-flex align-items-center ">
									<div class="mx-auto">
										<div class="audio-player-controls">
											<div class="col-12">
												<div class="row">
													<div class="col-4">
														<!-- <button type="button" class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i class="fi flaticon-040-backward text-white jump emphasize-dark"></i>
														</button> -->
													</div>
													<div class="col-4">
														<button type="button" class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default play-audio">
															<i class="play-btn bi bi-play-fill" ></i>
															<audio id="">
																<%
																let audioURL = ""
																if (content.mp3_private.includes("https")) {
																	audioURL = content.mp3_private
																} else {
																	audioURL = "https://s3contents.chinesepod.com/"+ content.v3_id + "/" + content.hash_code +"/"+ content.mp3_private
																}
						
																%>
																<source src="<%= audioURL %>" type="audio/mp3">
																	Your browser does not support the audio element.
															</audio>
														</button>

													</div>
													<div class="col-4">
														<!-- <button type="button" class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i class="fi flaticon-032-forwards text-white jump emphasize-dark"></i>
														</button> -->
													</div>
												</div>
											</div>
										</div>
									</div>
									
									
								</div>
							
								

							</div>

						</div>
					</div>

				</div>

				<div class="nav my-btn-group mt-3 mb-5 lessons-btn" id="myTab" role="tablist">
					<% if(content.video){ %>
					<button data-bs-toggle="tab" data-bs-target="#nav-video" type="button" role="tab" aria-controls="nav-video" aria-selected="true" type="button" class="btn me-3 px-5 py-2 active">
						<strong>Video Lesson</strong>
					</button>
					<% } %>
					<button data-bs-toggle="tab" data-bs-target="#nav-audio" type="button" role="tab" aria-controls="nav-audio" aria-selected="false" type="button" class="btn bg-white px-5 me-3 py-2 <%= !content.video ? 'active' : '' %>">
						<strong>Audio Lesson</strong>
					</button>
					<button type="button" class="btn bg-white px-5 py-2">
						<strong>Review</strong>
					</button>
				</div>

				<div class="in-this-lesson">
					<p v-if="lesson"> {{ lesson.introduction.trim() }} </p>
				</div>
			</div>

			<div v-if="course.length > 0" class="col-lg-3 mb-4 mb-md-0">
				<h4 class="mb-3">Next in course:</h4>
				<div v-for="c in course" class="row">
					<div class="col-12 col-md-6 col-lg-12">
						<div class="card mb-3">
							<a :href="'/new/lesson/'+c.slug">
								
								<img :src="c.image && !c.image.includes('https') ? ('https://s3contents.chinesepod.com/' + c.id + '/' + c.hash_code + '/' + c.image) : c.image" class="card-img-top" alt="">
								<div class="card-body">
									<h6 class="card-title fw-bold">{{ c.title }}</h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="container">
				<div class="col-lg-9">
					<!-- tabs start -->
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<button class="nav-link active" id="nav-dialogue-tab" data-bs-toggle="tab" data-bs-target="#nav-dialogue" type="button" role="tab" aria-controls="nav-dialogue" aria-selected="false">Dialogue</button>

							<button class="nav-link" id="nav-vocab-tab" data-bs-toggle="tab" data-bs-target="#nav-vocab" type="button" role="tab" aria-controls="nav-vocab" aria-selected="false">Vocabulary</button>

							<button class="nav-link" id="nav-expansion-tab" data-bs-toggle="tab" data-bs-target="#nav-expansion" type="button" role="tab" aria-controls="nav-expansion" aria-selected="false">Expansion</button>
							
							<button class="nav-link" id="nav-grammar-tab" data-bs-toggle="tab" data-bs-target="#nav-grammar" type="button" role="tab" aria-controls="nav-grammar" aria-selected="false">Grammar</button>

							<button class="nav-link" id="nav-exercise-tab" data-bs-toggle="tab" data-bs-target="#nav-exercise" type="button" role="tab" aria-controls="nav-exercise" aria-selected="false">Exercise</button>

							<button class="nav-link" id="nav-comments-tab" data-bs-toggle="tab" data-bs-target="#nav-comments" type="button" role="tab" aria-controls="nav-comments" aria-selected="true">Comments</button>

							<button class="nav-link" id="nav-downloads-tab" data-bs-toggle="tab" data-bs-target="#nav-downloads" type="button" role="tab" aria-controls="nav-downloads" aria-selected="false">Downloads</button>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-dialogue" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="dialogue-main">
								<div class="dialogue py-3">
									<ul v-if="dialogue" class="list-group d-block d-sm-flex w-100 list-group-horizontal" style="flex-wrap: wrap;">
										<li v-for="dia in dialogue.dialogue" class="list-group-item w-50 w-md-50 p-4" style="border-width:1px !important">
											<div class="mandarin-chars-main d-flex align-items-center justify-content-between">
												<div class="mandarin-chars">
													<span v-for="sentence in dia.sentence" v-if="sentence.s" class="mandarin-char position-relative">
														<span class="fs-2">{{ sentence.s }}</span>
														<div class="mandarin-char-tooltip position-absolute start-0 rounded p-3 mt-2 bg-light fs-5">
															<div class="fs-2 mb-2">{{ sentence.s }}</div>
															<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
															<div class="border-top pt-1">{{ sentence.en }}</div>
														</div>
													</span>
												
												</div>
												<div class="play-audio icon fs-5">
													<i class="bi bi-volume-up-fill"></i>
													<audio>
														<source :src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+dia.audio" type="audio/mp3">
														Your browser does not support the audio element.
													</audio>
												</div>
											</div>
											<div class="translation-group fs-5">
												<div class="pinyin-writing-main d-flex align-items-center justify-content-between">
													<div class="pinyin-writing show-hide-txt my-3">
														<span>...</span>
														<span>{{ pinyinConvert(dia.p) }}</span>
													</div>
													<div class="icon toggle-show-hide fs-5">
														<i class="bi bi-eye-slash-fill"></i>
													</div>
												</div>
												<div class="english-translation-main d-flex align-items-center justify-content-between">
													<div class="english-translation show-hide-txt">
														<span>...</span>
														<span>{{ dia.en }}</span>
													</div>
													<div class="icon toggle-show-hide fs-5">
														<i class="bi bi-eye-slash-fill"></i>
													</div>
												</div>
											</div>
											
										</li>
										
									</ul>

									<p v-if="!dialogue" class="warning">Dialogue not found</p>
									
								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-vocab" role="tabpanel" aria-labelledby="nav-vocab-tab">
							<div class="vocab-main">
								<div class="vocab py-3">
									<table v-if="vocab" class="table">
										<thead>
											<tr>
												<th style="width:35%">Traditional</th>
												<th style="width:25%">Pinyin</th>
												<th style="width:25%">English</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="voc in vocab">
												
												<td>
													<div v-for="ndx in voc.t.length" :id="'target-'+ndx+'-'+voc.id" :class="'js-animate-'+ndx+'-'+voc.id" style="display: inline-block;width:70px;"></div>
												</td>
												<td>{{ voc.p }}</td>
												<td>{{ voc.en }}</td>
												<td>
													<div class="play-audio icon fs-5">
														<i class="bi bi-volume-up-fill"></i>
														<audio>
															<source :src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+voc.audio" type="audio/mp3">
															Your browser does not support the audio element.
														</audio>
													</div>
												</td>
											</tr>
										</tbody>
									</table>

									<p v-if="!vocab" class="warning">Vocabulary not found</p>
									
								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-expansion" role="tabpanel" aria-labelledby="nav-expansion-tab">
							<div class="expansion-main">
								<div class="expansion py-3">
									
									<ul v-if="expansion" class="list-group d-block d-sm-flex w-100 list-group-horizontal" style="flex-wrap: wrap;">
										<li v-for="exp in expansion" class="list-group-item w-50 w-md-50 p-4" style="border-width:1px !important">
											{{ exp.phrase }}
											<div v-for="examples in exp.examples" class="mb-3">
												<div class="mandarin-chars-main d-flex align-items-center justify-content-between">
													<div class="mandarin-chars">
													
														<span v-for="sentence in examples.sentence" v-if="sentence.s" class="mandarin-char position-relative">
															<span class="fs-2">{{ sentence.s }}</span>
															<div class="mandarin-char-tooltip position-absolute start-0 rounded p-3 mt-2 bg-light fs-5">
																<div class="fs-2 mb-2">{{ sentence.s }}</div>
																<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
																<div class="border-top pt-1">{{ sentence.en }}</div>
															</div>
														</span>
													
													
													</div>
													<div class="play-audio icon fs-5">
														<i class="bi bi-volume-up-fill"></i>
														<audio>
															<source :src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+examples.audio" type="audio/mp3">
															Your browser does not support the audio element.
														</audio>
													</div>
												</div>
												<div class="translation-group fs-5">
													<div class="pinyin-writing-main d-flex align-items-center justify-content-between">
														<div class="pinyin-writing show-hide-txt my-3">
															<span>...</span>
															<span>{{ pinyinConvert(examples.p) }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
													<div class="english-translation-main d-flex align-items-center justify-content-between">
														<div class="english-translation show-hide-txt">
															<span>...</span>
															<span>{{ examples.en }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
												</div>
												<hr>
											</div>
											
										</li>
										
									</ul>

									<p v-if="!expansion" class="warning">Vocabulary not found</p>
									
								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-grammar" role="tabpanel" aria-labelledby="nav-grammar-tab">
							<div class="grammar-main">
								<div class="grammar py-3">
									
									<ul v-if="grammar" class="list-group d-block d-sm-flex w-100 list-group-horizontal" style="flex-wrap: wrap;">
										<li v-for="exp in grammar" class="list-group-item w-100 w-md-100 p-4 mb-3" style="border-width:1px !important">
											<div class="alert alert-info">
												<h3>{{ exp.grammar.name }}: <span>{{ exp.grammar.introduction }}</span></h3>
												<p>{{ exp.grammar.tree }}</p>
											</div>
											<div v-for="examples in exp.examples" class="mb-3">
												<div class="mandarin-chars-main d-flex align-items-center justify-content-between">
													<div class="mandarin-chars">
													
														<span v-for="sentence in examples.sentence" v-if="sentence.s" class="mandarin-char position-relative">
															<span class="fs-2">{{ sentence.s }}</span>
															<div class="mandarin-char-tooltip position-absolute start-0 rounded p-3 mt-2 bg-light fs-5">
																<div class="fs-2 mb-2">{{ sentence.s }}</div>
																<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
																<div class="border-top pt-1">{{ sentence.en }}</div>
															</div>
														</span>
													
													
													</div>
													<div class="play-audio icon fs-5">
														<i class="bi bi-volume-up-fill"></i>
														<audio>
															<source v-if="!examples.audio.includes('http')" :src="'https://s3contents.chinesepod.com/grammar/grammar_'+exp.grammar.id+'/'+exp.grammar.id+'/expansion/translation/mp3/'+examples.audio" type="audio/mp3">
															<source v-if="examples.audio.includes('http')" :src="examples.audio" type="audio/mp3">
															Your browser does not support the audio element.
														</audio>
													</div>
												</div>
												<div class="translation-group fs-5">
													<div class="pinyin-writing-main d-flex align-items-center justify-content-between">
														<div class="pinyin-writing show-hide-txt my-3">
															<span>...</span>
															<span>{{ pinyinConvert(examples.p) }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
													<div class="english-translation-main d-flex align-items-center justify-content-between">
														<div class="english-translation show-hide-txt">
															<span>...</span>
															<span>{{ examples.en }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
												</div>
												<hr>
											</div>
											
										</li>
										
									</ul>

									<p v-if="!grammar" class="warning">Vocabulary not found</p>
									
								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-exercise" role="tabpanel" aria-labelledby="nav-exercise-tab">
							<div class="exercise-main">
								<div class="exercise py-3">
									
									<%- include('../partials/exerciseTabContent'); %>
									
								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="comments-form mt-4">
								<form class="postcomment-form">
									<div class="comment-bar">
										<div class="left">
											
											<div class="avatar-modal">
												<div class="user-name-input">
													<h3>Name</h3>
													<input class="comment-user-name" type="text" placeholder="John Doe">
												</div>
												<div class="avatar-modal-contaier">
													<div class="left">
														<div class="select-avatar">
															<h3>Select</h3>
															<div class="avatar-options">
		
															</div>
														</div>
														<div class="customize-avatar">
															<h3>Customize section</h3>
														</div>
													</div>
													<div class="right">
														<h3>OR<br>Customize<br>your Avatar</h3>
														<div class="avatar-big">
															<i class="bi bi-person-fill"></i>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="right">
											<div class="form-floating cmnt-textarea">
												<textarea class="form-control cmnt-comment" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
												<label for="floatingTextarea">Write your comment</label>
											</div>
										</div>
									</div>
									<div class="comment-submitbtn">
										<input class="btn text-white px-5 py-2 primary-btn" type="submit" value="Comment" disabled="">
									</div>
								</form>
							</div>
							<div v-if="comments && comments.comments" v-for="comment in comments.comments" class="comments-wrapper">
								<div class="comment-main">
									<div class="left">
										<div class="comment-avatar">
											<img v-if="comment.avatar_url" class="avatar-img" :src="comment.avatar_url">
											<img v-if="!comment.avatar_url" class="avatar-img" src="https://www.chinesepod.com/home/img/symbol-black-center.d7c26c3a.svg">
										</div>
									</div>
									<div class="right">
										<div class="name">{{ comment.username }} <span class="date-time">{{ comment.created_at }}</span></div>

										<div class="comment-txt" v-html="comment.content"></div>

										<div class="comment-reacts">
											<div class="thumbs-up comment-react">
												<a href="https://sitetesting123.web.app/New%20Lesson%20page%20-%20ChinesePod/#">
													<i class="bi bi-hand-thumbs-up"></i>
												</a>
												<span class="react-count">2</span>
											</div>
											<div class="thumbs-down comment-react">
												<a href="https://sitetesting123.web.app/New%20Lesson%20page%20-%20ChinesePod/#">
													<i class="bi bi-hand-thumbs-down"></i>
												</a>
												<span class="react-count">0</span>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="tab-pane fade show" id="nav-downloads" role="tabpanel" aria-labelledby="nav-profile-tab">
							
							<ul class="dl-List" v-if="downloads">
								<li v-if="downloads.downloads.lesson"><a target="_blank" download :href="downloads.downloads.lesson" class="btn btn-info">Lesson</a></li>
								<li v-if="downloads.downloads.dialogue"><a target="_blank" download :href="downloads.downloads.dialogue" class="btn btn-info">Dialogue</a></li>
								<li v-if="downloads.downloads.review"><a target="_blank" download :href="downloads.downloads.review" class="btn btn-info">Review</a></li>
								<li v-if="downloads.downloads.pdf1"><a target="_blank" download :href="downloads.downloads.pdf1" class="btn btn-info">Notes (Simp)</a></li>
								<li v-if="downloads.downloads.pdf2"><a target="_blank" download :href="downloads.downloads.pdf2" class="btn btn-info">Notes (Trad)</a></li>
							</ul>

							<p v-if="!downloads">No downloads to show right now.</p>
						</div>
					</div>
					<!-- tabs end -->
				</div>

				<div class="col-lg-3"></div>
			</div>
		</div>
	</div>
</section>