<section style="padding-top:30px">

	<div class="">
		<div class="row">
			<div class="col-lg-9">
				<div class="video-header">
					<h1><%= (content ? content.title : '' ) %></h1>
					<div class="breadcrumb" style="padding: 15px 30px">
						<nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns=&#39;http://www.w3.org/2000/svg&#39; width=&#39;8&#39; height=&#39;8&#39;%3E%3Cpath d=&#39;M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z&#39; fill=&#39;currentColor&#39;/%3E%3C/svg%3E&quot;);"
							aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item" aria-current="page"><a href="/courses">Course Overview</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									<%= (content ? content.title : '' ) %>
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-lg-3">

				<div class="my-btn-group d-flex align-items-center mt-2 gap-3 mb-4 mb-lg-0">
					<button @click="saveLesson" type="button" v-bind:class="{ text-danger: lesson.saved }"
						class="btn btn-icon btn-block btn-secondary">
						<i class="m-0 fas fa-bookmark"></i> <strong>Saved</strong>
					</button>
					<button @click="studyCompleted" type="button"
						v-bind:class="{ text-danger: (lesson.studied > 0 ? false : true) }"
						class="btn btn-icon btn-block btn-secondary">
						<i class="m-0 far fa-check-circle"></i> <strong>Completed</strong>
					</button>
				</div>
			</div>


		</div>
		<div class="row">


			<div class="col-lg-<%= (course && course.length > 0 ? '9' : '8 m-auto') %>">
				<%
					let imageUrl = ""
					if (content && content.image && content.image.includes("https")) {
						imageUrl = content.image
					} else {
						imageUrl = ""
					}

				%>

				<div class="tab-content">

					<div id="nav-video" v-bind:class="{'d-none': (isActive == 'video' ? false : true) }">
						<div class="video-main">

							<video id="videoplyr-s3" class="img-fluid" playsinline crossorigin
								data-poster="<%= imageUrl %>"></video>

						</div>
					</div>

					<div id="nav-audio" v-bind:class="{'d-none': (isActive == 'audio' ? false : true) }">
						<div class="video-main">
							<div class="card mb-0">
								<img alt="<%= content.title %>" class="card-img" :src="lesson.image" lazy="loaded">
								<div id="lessonOverlay" class="card-img-overlay d-flex align-items-center ">
									<div class="mx-auto">
										<div class="audio-player-controls">
											<div class="col-12">
												<div class="row">
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-040-backward text-white jump emphasize-dark"></i>
														</button>
													</div> -->
													<div class="col-12">

														<button @click="audioPlayerClick('audio-lesson')" type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default btn-audio">
															<i id="audio-lesson-i"
																class="text-white play-button emphasize-dark fi flaticon-013-play"></i>
															<audio id="audio-lesson">
																<%
																let audioURL = ""
																if (content.mp3_private.includes("https")) {
																	audioURL = content.mp3_private
																} else {
																	audioURL = "https://s3contents.chinesepod.com/"+ content.v3_id + "/" + content.hash_code +"/"+ content.mp3_private
																}
						
																%>
																<source src="<%= audioURL %>" type="audio/mp3">
																Your browser does not support the audio element.
															</audio>
														</button>

													</div>
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-032-forwards text-white jump emphasize-dark"></i>
														</button>
													</div> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div id="nav-review" v-bind:class="{'d-none': (isActive == 'review' ? false : true) }">
						<div class="review-main">

							<div class="card mb-0">
								<img alt="<%= content.title %>" class="card-img" :src="lesson.image" lazy="loaded">
								<div id="lessonOverlay" class="card-img-overlay d-flex align-items-center ">
									<div class="mx-auto">
										<div class="audio-player-controls">
											<div class="col-12">
												<div class="row">
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-040-backward text-white jump emphasize-dark"></i>
														</button>
													</div> -->
													<div class="col-12">

														<button @click="audioPlayerClick('review-lesson')" type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default btn-audio">
															<i id="review-lesson-i"
																class="text-white play-button emphasize-dark fi flaticon-013-play"></i>
															<audio id="review-lesson">
																<%
																let audioURLR = ""
																if (content.mp3_thefix.includes("https")) {
																	audioURLR = content.mp3_thefix
																} else {
																	audioURLR = "https://s3contents.chinesepod.com/"+ content.v3_id + "/" + content.hash_code +"/"+ content.mp3_thefix
																}
						
																%>
																<source src="<%= audioURLR %>" type="audio/mp3">
																Your browser does not support the audio element.
															</audio>
														</button>

													</div>
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-032-forwards text-white jump emphasize-dark"></i>
														</button>
													</div> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div id="nav-dialogue" v-bind:class="{'d-none': (isActive == 'dialogue' ? false : true) }">
						<div class="review-main">

							<div class="card mb-0">
								<img alt="<%= content.title %>" class="card-img" :src="lesson.image" lazy="loaded">
								<div id="lessonOverlay" class="card-img-overlay d-flex align-items-center ">
									<div class="mx-auto">
										<div class="audio-player-controls">
											<div class="col-12">
												<div class="row">
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-040-backward text-white jump emphasize-dark"></i>
														</button>
													</div> -->
													<div class="col-12">

														<button @click="audioPlayerClick('dialogue-lesson')"
															type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default btn-audio">
															<i id="dialogue-lesson-i"
																class="text-white play-button emphasize-dark fi flaticon-013-play"></i>
															<audio id="dialogue-lesson">
																<%
																let audioURLD = ""
																if (content.mp3_dialogue.includes("https")) {
																	audioURLD = content.mp3_dialogue
																} else {
																	audioURLD = "https://s3contents.chinesepod.com/"+ content.v3_id + "/" + content.hash_code +"/"+ content.mp3_dialogue
																}
						
																%>
																<source src="<%= audioURLD %>" type="audio/mp3">
																Your browser does not support the audio element.
															</audio>
														</button>

													</div>
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-032-forwards text-white jump emphasize-dark"></i>
														</button>
													</div> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>


				</div>

				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-auto mt-2">
								<label class="custom-toggle">
									<input type="checkbox">
									<span data-label-off="No" data-label-on="Yes"
										class="custom-toggle-slider rounded-circle"></span>
								</label>
							</div>
							<div class="col small pt-1" style="display: flex; align-items: center;">
								<span>Automatically mark lessons as completed</span>
								<span class="ml-1">
									<span class="el-popover__reference-wrapper">
										<i class="fa fa-info-circle el-popover__reference"
											aria-describedby="el-popover-2537" tabindex="0"></i>
									</span>
								</span>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div id="access-different-recorded-materials" class="row">

							<div v-if="lesson.video" class="col-6 col-md-4 mt-2">
								<button @click="setActive('video')" type="button"
									:class="'btn btn-block ' + (isActive == 'video' ? 'btn-primary':'btn-secondary')">
									<i class="fas fa-film"></i> Video Lesson
								</button>
							</div>

							<div v-if="lesson.mp3_private" class="col-6 col-md-4 mt-2">
								<button @click="setActive('audio');" type="button"
									:class="'btn btn-block ' + (isActive == 'audio' ? 'btn-primary':'btn-secondary')">
									<i class="fas fa-podcast"></i> Audio Lesson
								</button>
							</div>

							<div v-if="lesson.mp3_dialogue" class="col-6 col-md-4 mt-2">
								<button @click="setActive('dialogue')" type="button"
									:class="'btn btn-block ' + (isActive == 'dialogue' ? 'btn-primary':'btn-secondary')">
									<i class="ni icon-speaking"></i> Dialogue
								</button>
							</div>

							<div v-if="lesson.mp3_thefix" class="col-6 col-md-4 mt-2">
								<button @click="setActive('review')" type="button"
									:class="'btn btn-block ' + (isActive == 'review' ? 'btn-primary':'btn-secondary')">
									<i class="ni icon-vocabulary"></i> Review
								</button>
							</div>

						</div>
					</div>
				</div>


			</div>

			<div v-if="course && course.length > 0" class="col-lg-3 mb-4 mb-md-0">
				<h4 class="mb-3">Next in course:</h4>
				<div v-for="c in course" class="row">
					<div class="col-12 col-md-6 col-lg-12">
						<div class="card mb-3">
							<a :href="'/new/lesson/'+c.slug">

								<img :src="c.image && !c.image.includes('https') ? ('https://s3contents.chinesepod.com/' + c.id + '/' + c.hash_code + '/' + c.image) : c.image"
									class="card-img-top" alt="">
								<div class="card-body">
									<h6 class="card-title fw-bold">{{ c.title }}</h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<% let levelSlug = content.level.toLowerCase() %>

		<div class="row">
			<div class="card card-stats bg-gradient-secondary my-4 col-xl-10 offset-xl-1" show-footer-line="true">

				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="col">
									<div class="row">
										<h5 class="card-title text-uppercase text-muted mb-0"> In this Lesson</h5>
										<div class="ml-auto">
											<a href="/explore?search=&amp;<%= levelSlug.replace(' ', '-') %>=true"
												class="">
												<span
													class="badge float-right badge-default badge-lg <%= levelSlug.replace(' ', '-') %>">{{ lesson.level }}</span>
											</a>
											<span
												class="badge float-right mr-2 badge-default badge-lg <%= levelSlug.replace(' ', '-') %>">ID:
												{{ lesson.id }}</span>
										</div>
									</div>
									<div class="card-body mb-0">{{ lesson.introduction.trim() }}</div>
								</div>
							</div>
						</div>

					</div>
					<p class="mt-3 mb-0 text-sm">
						<span
							class="text-nowrap float-right mr-2 text-dark"><%= moment(content.updated_at).format('ddd MMM D YYYY') %>
							| {{ lesson.hosts }} </span>
					</p>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="container-fluid">
				<div class="row">
					<ul role="tablist" class="nav nav-pills nav-pills-primary nav-fill flex-sm-row nav-wrapper">
						<li v-if="dialogue" data-toggle="tab" role="tablist" aria-expanded="true" class="nav-item active mt-2 mx-1">
							<a data-bs-toggle="tab" data-bs-target="#nav-dialogue2" role="tablist" href="#nav-dialogue2" class="nav-link active">
								<div>
									<span>
										<i class="ni ni-lg icon-speaking"></i>
										<span class="d-none d-md-block">Dialogue</span>
									</span>
								</div>
							</a>
						</li>
						<li v-if="vocab" data-toggle="tab" role="tablist" aria-expanded="true" class="nav-item active mt-2 mx-1">
							<a data-bs-toggle="tab" data-bs-target="#nav-vocab" role="tablist" href="#nav-vocab" class="nav-link">
								<div>
									<span>
										<i class="ni ni-lg icon-vocabulary"></i>
										<span class="d-none d-md-block">Vocabulary</span>
									</span>
								</div>
							</a>
						</li>
						<li v-if="downloads" data-toggle="tab" role="tablist" aria-expanded="true" class="nav-item active mt-2 mx-1">
							<a data-bs-toggle="tab" data-bs-target="#nav-downloads" role="tablist" href="#nav-downloads" class="nav-link">
								<div>
									<span>
										<i class="ni ni-lg ni-cloud-download-95"></i>
										<span class="d-none d-md-block">Downloads</span>
									</span>
								</div>
							</a>
						</li>
						<li v-if="expansion" data-toggle="tab" role="tablist" aria-expanded="true" class="nav-item active mt-2 mx-1">
							<a data-bs-toggle="tab" data-bs-target="#nav-expansion" role="tablist" href="#nav-expansion" class="nav-link">
								<div>
									<span>
										<i class="ni ni-lg icon-expansion"></i>
										<span class="d-none d-md-block">Expansion</span>
									</span>
								</div>
							</a>
						</li>
						<li v-if="questions" data-toggle="tab" role="tablist" aria-expanded="true" class="nav-item active mt-2 mx-1">
							<a data-bs-toggle="tab" data-bs-target="#nav-exercise" role="tablist" href="#nav-exercise" class="nav-link">
								<div>
									<span>
										<i class="ni ni-lg icon-exam"></i>
										<span class="d-none d-md-block">Exercises</span>
									</span>
								</div>
							</a>
						</li>
						<li v-if="comments" data-toggle="tab" role="tablist" aria-expanded="true" class="nav-item active mt-2 mx-1">
							<a data-bs-toggle="tab" data-bs-target="#nav-comments" role="tablist" href="#nav-comments" class="nav-link">
								<div>
									<span>
										<i class="ni ni-lg ni-chat-round"></i>
										<span class="d-none d-md-block">
											<span class="badge badge-primary badge-lg">{{ comments.count }}</span>
											Comments
										</span>
									</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="row">
					<!-- tabs start -->

					<div class="tab-content tab-space card shadow" id="nav-tabContent">

						<div class="tab-pane fade show active" id="nav-dialogue2" role="tabpanel" aria-labelledby="nav-dialogue2-tab">
							<div class="card-body dialogue">

								<div >
									<div >
										<button type="button" @click="printContent('dialogue')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Dialogue</h2>
									</div>
								</div>
								<div class="pl-2">

									<div v-if="dialogue">
										<div v-for="dia in dialogue.dialogue" class="col-lg-8 offset-lg-2">
											<h4 class="text-uppercase ls-1 py-3 mb-0">{{ dia.speaker }}</h4>
											<div class="card card-pricing bg-lighter border-0 mb-4">
												<div class="card-header bg-transparent">
													<div class="row align-items-center">
														<div class="mandarin-chars col-10 col-sm-11">
															<span v-for="sentence in dia.sentence" v-if="sentence.s">
															
																<span class="mandarin-char position-relative">
																	<span class="c-hand" v-if="vuex.userInfo.charSet == 'simplified'">{{ sentence.s }}</span>
																	<span class="c-hand" v-if="vuex.userInfo.charSet == 'traditional'">{{ sentence.t }}</span>

																	<div class="mandarin-char-tooltip position-absolute start-0 rounded p-3">
																		<div class="addVocab c-hand" @click="addVocab(sentence)">
																			<i class="fa fa-plus"></i>
																		</div>
																		<div v-if="vuex.userInfo.charSet == 'simplified'" class="mb-2">{{ sentence.s }}</div>
																		<div v-if="vuex.userInfo.charSet == 'traditional'" class="mb-2">{{ sentence.t }}</div>
																		<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
																		<div class="border-top pt-1" v-html="sentence.en"></div>
																	</div>
																</span>
															</span>

														</div>
														<div class="col-2 col-sm-1 text-right play-audio">
															<button type="button" class="btn float-right btn-icon-only m-0 mb-1 btn-secondary">
																<i class="fas fa-volume-up"></i>
															</button>
															<audio>
																<source
																	:src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+dia.audio"
																	type="audio/mp3">
																Your browser does not support the audio element.
															</audio>
														</div>
													</div>
												</div>
												<div class="card-body">
													<div class="row align-items-center">
									
														<div class="col-10 col-sm-11 pinyin-writing show-hide-txt my-3">
															<span>...</span>
															<span>{{ pinyinConvert(dia.p) }}</span>
														</div>
														<div class="col-2 col-sm-1 toggle-show-hide text-right">
															<button type="button" class="btn float-right btn-icon-only m-0 mb-1 btn-secondary">
																<i class="bi bi-eye-slash-fill"></i>
															</button>
														</div>
								
													</div>
												</div>

												<div class="card-footer bg-transparent">
													<div class="row align-items-center">
														<div class="col-10 col-sm-11 english-translation show-hide-txt">
															<span>...</span>
															<span>{{ dia.en }}</span>
														</div>
									
														<div class="col-2 col-sm-1  toggle-show-hide text-right">
															<button type="button" class="btn float-right btn-icon-only m-0 mb-1 btn-secondary">
																<i class="bi bi-eye-slash-fill"></i>
															</button>
														</div>
												
													</div>
												</div>
											
											</div>
										</div>

									</div>

									<p v-if="!dialogue" class="warning">Dialogue not found</p>

									<!-- printable content -->
									<div id="printable-dialogue" class="d-none">
										<img src="https://www.chinesepod.com/home/img/logo.a070ebf6.png"
											style="width:200px" alt="ChinesePod" class="navbar-brand-img">
										<h2 style="text-align:center">{{ lesson.title }} - Dialogue</h2>

										<ol v-if="dialogue">
											<li v-for="dia in dialogue.dialogue">
												<p>{{ vuex.userInfo.charSet == 'simplified' ? dia.s : dia.t }}<br>
													{{ pinyinConvert(dia.p) }}<br>
													{{ dia.en }}</p>
											</li>
										</ol>
									</div>
								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-vocab" role="tabpanel" aria-labelledby="nav-vocab-tab">
							
							<div class="vocab-main">

								<div class="vocab py-3">
									<div class="mb-3">
										<button type="button" @click="printContent('vocabulary')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Vocabulary</h2>
									</div>

									<table v-if="vocab" class="table">
										<thead>
											<tr>
												<th style="width:35%">
													{{ vuex.userInfo.charSet == 'traditional' ? 'Traditional' : 'Simplified' }}
												</th>
												<th style="width:25%">Pinyin</th>
												<th style="width:25%">English</th>
												<th>
													<div class="save-all-container" v-if="decks">
														<span class="btn btn-icon btn-fab btn-secondary"><i class="fa fa-plus"></i>
															Save all</span>
														<div class="deck-list">
															<ul>
																<li v-for="deck in decks"
																	@click="setSelectedDeckId(deck.id)">{{ deck.tag }}
																</li>
															</ul>
															<span class="btn btn-default" data-bs-toggle="modal"
																data-bs-target="#createNewDeck"><i
																	class="fa fa-plus"></i> Create Deck</span>
														</div>
													</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="voc in vocab">

												<td>
													<div class="hanziContainer">
														<div v-if="vuex.userInfo.charSet === 'traditional'"
															v-for="ndx in voc.t.length" :id="'target-t-'+ndx+'-'+voc.id"
															:class="'js-animate-t-'+ndx+'-'+voc.id">
															<span class="loader">loading...</span>
															{{ showHanzi('target-t-'+ndx+'-'+voc.id, 'js-animate-t-'+ndx+'-'+voc.id,voc.t[ndx] ) }}
														</div>
														<div v-if="vuex.userInfo.charSet === 'simplified'"
															v-for="ndx in voc.s.length" :id="'target-s-'+ndx+'-'+voc.id"
															:class="'js-animate-s-'+ndx+'-'+voc.id">
															<span class="loader">loading...</span>
															{{ showHanzi('target-s-'+ndx+'-'+voc.id, 'js-animate-s-'+ndx+'-'+voc.id,voc.s[ndx] ) }}
														</div>
													</div>
												</td>
												<td>{{ voc.p }}</td>
												<td>{{ voc.en }}</td>
												<td>
													<div class="row justify-content-end pr-md-3 pr-lg-4">
														<div v-if="voc.audio" class="col-12 col-md-3 col-auto mb-1">
															<button class="play-audio btn btn-icon-only ml-1 btn-secondary btn-sm ">
																<i class="fas fa-volume-up"></i>
															</button>
															<audio>
																<source
																	:src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+voc.audio"
																	type="audio/mp3">
																Your browser does not support the audio element.
															</audio>
														</div>

														<div @click="copyClipboard( (vuex.userInfo.charSet == 'traditional' ? voc.t : voc.s ) + ' - ' + voc.p + ' - ' + voc.en )"
															class="col-12 col-md-3 col-auto mb-1">
															<button class="btn btn-icon-only ml-1 btn-secondary btn-sm ">
																<i class="fa fa-copy"></i>
															</button>
														</div>

														<div class="col-12 col-md-3 col-auto mb-1"
															@click="addVocab(voc)" class="icon c-hand">
															<button class="btn btn-icon-only ml-1 btn-secondary btn-sm ">
																<i class="fa fa-plus"></i>
															</button>
														</div>
													</div>

												</td>
											</tr>
										</tbody>
									</table>

									<div id="printable-vocabulary" class="d-none">
										<img src="https://www.chinesepod.com/home/img/logo.a070ebf6.png"
											style="width:200px" alt="ChinesePod" class="navbar-brand-img">
										<h2 style="text-align:center">{{ lesson.title }} - Vocabulary</h2>

										<ol v-if="vocab">
											<li v-for="voc in vocab">
												<p>{{ vuex.userInfo.charSet == 'simplified' ? voc.s : voc.t }}<br>
													{{ pinyinConvert(voc.p) }}<br>
													{{ voc.en }}</p>
											</li>
										</ol>
									</div>

									<p v-if="!vocab" class="warning">Vocabulary not found</p>

								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-expansion" role="tabpanel" aria-labelledby="nav-expansion-tab">
							<div class="card-body expansion">

								<div >
									<div >
										<button type="button" @click="printContent('expansion')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Expansion</h2>
									</div>
								</div>

								<div class="py-2">

									<div v-if="expansion" class="list-group d-block d-sm-flex w-100 list-group-horizontal" style="flex-wrap: wrap;">
										<div v-for="exp in expansion" class="col-lg-8 offset-lg-2" >
											<h4 class="text-uppercase ls-1 py-3 mb-0">{{ exp.phrase }}</h4>

											<div class="card card-pricing bg-lighter border-0 mb-4">
												<div class="card-header bg-transparent">
													<div class="row align-items-center">
														<div class="mandarin-chars col-10 col-sm-11">

															<span v-for="sentence in exp.examples" v-if="sentence.s" class="mandarin-char position-relative">
																<span class="fs-2 c-hand">{{ sentence.s }}</span>
																<div class="mandarin-char-tooltip position-absolute start-0 rounded p-3">
																	<div class="addVocab c-hand" @click="addVocab(sentence)">
																		<i class="fa fa-plus"></i>
																	</div>
																	<div v-bind:class="{'d-none': (vuex.userInfo.charSet == 'simplified' ? false : true) }" class="fs-2 mb-2 c-hand">{{ sentence.s }}</div>
																	<div v-bind:class="{'d-none': (vuex.userInfo.charSet == 'traditional' ? false : true) }" class="fs-2 mb-2 c-hand">{{ sentence.t }}</div>
																	<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
																	<div class="border-top pt-1">{{ sentence.en }}</div>
																</div>
															</span>
															
														</div>
														<div class="col-2 col-sm-1 text-right play-audio">
															<button type="button" class="btn float-right btn-icon-only m-0 mb-1 btn-secondary">
																<i class="fas fa-volume-up"></i>
															</button>
															<audio>
																<source
																	:src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+examples.audio"
																	type="audio/mp3">
																Your browser does not support the audio element.
															</audio>
														</div>
													</div>
												</div>
												
												<div class="card-body">
													<div class="row align-items-center">
									
														<div class="col-10 col-sm-11 pinyin-writing show-hide-txt my-3">
															<span>...</span>
															<span>{{ pinyinConvert(examples.p) }}</span>
														</div>
														<div class="col-2 col-sm-1 toggle-show-hide text-right">
															<button type="button" class="btn float-right btn-icon-only m-0 mb-1 btn-secondary">
																<i class="bi bi-eye-slash-fill"></i>
															</button>
														</div>
								
													</div>
												</div>

												<div class="card-footer bg-transparent">

													<div class="row align-items-center">
														<div class="col-10 col-sm-11 english-translation show-hide-txt">
															<span>...</span>
															<span>{{ examples.en }}</span>
														</div>
									
														<div class="col-2 col-sm-1  toggle-show-hide text-right">
															<button type="button" class="btn float-right btn-icon-only m-0 mb-1 btn-secondary">
																<i class="bi bi-eye-slash-fill"></i>
															</button>
														</div>
												
													</div>

												</div>
											</div>

											

										</div>

									</div>

									<div id="printable-expansion" class="d-none">
										<img src="https://www.chinesepod.com/home/img/logo.a070ebf6.png"
											style="width:200px" alt="ChinesePod" class="navbar-brand-img">
										<h2 style="text-align:center">{{ lesson.title }} - Expansion</h2>
										<div v-if="expansion">
											<div v-for="exp in expansion">
												<h4>{{ exp.phrase }}</h4>
												<ol>
													<li v-for="examples in exp.examples">
														<p>{{ vuex.userInfo.charSet == 'simplified' ? examples.s : examples.t }}<br>
															{{ pinyinConvert(examples.p) }}<br>
															{{ examples.en }}</p>
													</li>
												</ol>
											</div>

										</div>

									</div>

									<p v-if="!expansion" class="warning">Vocabulary not found</p>

								</div>
							
							</div>
						</div>

						<div class="tab-pane fade" id="nav-grammar" role="tabpanel" aria-labelledby="nav-grammar-tab">
							grammar section
							<div v-if="false"  class="grammar-main">
								<div class="grammar py-3">

									<div class="mb-3">
										<button type="button" @click="printContent('grammar')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Grammar</h2>
									</div>

									<ul v-if="grammar" class="list-group d-block d-sm-flex w-100 list-group-horizontal"
										style="flex-wrap: wrap;">
										<li v-for="exp in grammar" class="list-group-item w-100 w-md-100 p-4 mb-3"
											style="border-width:1px !important">
											<div class="alert alert-info">
												<h3>{{ exp.grammar.name }}: <span>{{ exp.grammar.introduction }}</span>
												</h3>
												<p>{{ exp.grammar.tree }}</p>
											</div>
											<div v-for="examples in exp.examples" class="mb-3">
												<div
													class="mandarin-chars-main d-flex align-items-center justify-content-between">
													<div class="mandarin-chars">

														<span v-for="sentence in examples.sentence" v-if="sentence.s"
															class="mandarin-char position-relative">
															<div class="addVocab c-hand" @click="addVocab(sentence)"><i
																	class="fa fa-plus"></i></div>
															<span
																v-bind:class="{'d-none': (vuex.userInfo.charSet == 'simplified' ? false : true) }"
																class="fs-2 c-hand">{{ sentence.s }}</span>
															<span
																v-bind:class="{'d-none': (vuex.userInfo.charSet == 'traditional' ? false : true) }"
																class="fs-2 c-hand">{{ sentence.t }}</span>
															<div
																class="mandarin-char-tooltip position-absolute start-0 rounded p-3 mt-2 bg-light fs-5">
																<div v-bind:class="{'d-none': (vuex.userInfo.charSet == 'simplified' ? false : true) }"
																	class="fs-2 mb-2">{{ sentence.s }}</div>
																<div v-bind:class="{'d-none': (vuex.userInfo.charSet == 'traditional' ? false : true) }"
																	class="fs-2 mb-2">{{ sentence.t }}</div>
																<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
																<div class="border-top pt-1">{{ sentence.en }}</div>
															</div>
														</span>


													</div>
													<div style="color:#dc3545" class="play-audio icon fs-5">
														<i class="fa fa-play"></i>
														<audio>
															<source v-if="!examples.audio.includes('http')"
																:src="'https://s3contents.chinesepod.com/grammar/grammar_'+exp.grammar.id+'/'+exp.grammar.id+'/expansion/translation/mp3/'+examples.audio"
																type="audio/mp3">
															<source v-if="examples.audio.includes('http')"
																:src="examples.audio" type="audio/mp3">
															Your browser does not support the audio element.
														</audio>
													</div>
												</div>
												<div class="translation-group fs-5">
													<div
														class="pinyin-writing-main d-flex align-items-center justify-content-between">
														<div class="pinyin-writing show-hide-txt my-3">
															<span>...</span>
															<span>{{ pinyinConvert(examples.p) }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
													<div
														class="english-translation-main d-flex align-items-center justify-content-between">
														<div class="english-translation show-hide-txt">
															<span>...</span>
															<span>{{ examples.en }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
												</div>
												<hr>
											</div>

										</li>

									</ul>

									<div id="printable-grammar" class="d-none">
										<img src="https://www.chinesepod.com/home/img/logo.a070ebf6.png"
											style="width:200px" alt="ChinesePod" class="navbar-brand-img">
										<h2 style="text-align:center">{{ lesson.title }} - Grammar</h2>
										<div v-if="grammar">
											<div v-for="exp in grammar">
												<h4>{{ exp.grammar.name }}</h4>
												<h5>{{ exp.grammar.introduction }}</h5>
												<ol>
													<li v-for="examples in exp.examples">
														<p>{{ vuex.userInfo.charSet == 'simplified' ? examples.s : examples.t }}<br>
															{{ pinyinConvert(examples.p) }}<br>
															{{ examples.en }}</p>
													</li>
												</ol>
											</div>

										</div>

									</div>

									<p v-if="!grammar" class="warning">Vocabulary not found</p>

								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-exercise" role="tabpanel" aria-labelledby="nav-exercise-tab">

							<div class="exercise-main">
								<div class="exercise py-3">

									<div class="mb-3">
										<button type="button" @click="printContent('exercise')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Exercise</h2>
									</div>

									<%- include('../partials/exerciseTabContent'); %>

									<div id="printable-exercise" class="d-none">
										<h3>Exercise</h3>

										<h4>CHOOSE THE RIGHT OPTION<br>1 POINT</h4>
										<ol>
											<li v-for="(ndx, q) in questions.choice">
												<h5>{{ (vuex.userInfo.charSet == 'simplified' ? q.question.s : q.question.t) }}
												</h5>
												<h6>{{ q.question.p }}</h6>
												<ul class="exe-options">
													<li v-for="choices in q.question.choices"
														style="float: left;width:20%">
														{{ choices.t }} <br>{{ choices.p }}
													</li>
												</ul>
												<div style="clear:both"></div>
											</li>
										</ol>

										<h4>MATCH THE PHRASE WITH THE TRANSLATION<br>5 POINT</h4>
										<ol>
											<li v-for="(ndx, m) in questions.matching">

												<ul style="float:left; width:35%">
													<li v-for="matching in rumbleArray(m.question.segments,m.question.segments.length)"
														v-if="matching.id">
														<p>{{ ( vuex.userInfo.charSet == 'simplified' ? matching.s : matching.t) }}<br>{{ matching.p }}
														</p>
													</li>
												</ul>

												<ul style="float:left; width:35%">
													<li v-for="matching in rumbleArray(m.question.segments,m.question.segments.length)"
														v-if="matching.id">
														<p>{{ matching.e }}</p>
													</li>
												</ul>
												<div style="clear:both"></div>
												<hr>
											</li>
										</ol>

										<h4>RE-ORDER THE SEGMENTS<br>6 POINT</h4>

										<ol>
											<li v-for="(ndx, r) in questions.rearrange">

												<ul>
													<li v-for="segments in rumbleArray(r.question.segments)">
														<div class="col-10 col-sm-11">
															<span
																class="characters">{{ ( vuex.userInfo.charSet == 'simplified' ? segments.s : segments.t ) }}</span>
															<footer class="pinyin">{{ segments.p }}</footer>
														</div>
													</li>
												</ul>


												<div style="clear:both"></div>
												<hr>
											</li>
										</ol>

									</div>

								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
							
							

							<div v-if="comments && comments.comments" v-for="comment in comments.comments" class="comments-wrapper">
								<div v-if="comment" class="comment-main">
									<div class="media media-comment col-12 ">
										<div>
											<img class="avatar avatar-lg media-comment-avatar rounded-circle bg-light" alt="Profile picture" v-if="comment.avatar_url" class="avatar-img" :src="comment.avatar_url">
											<img class="avatar avatar-lg media-comment-avatar rounded-circle bg-light" alt="Profile picture" v-if="!comment.avatar_url" class="avatar-img" src="https://www.chinesepod.com/home/img/symbol-black-center.d7c26c3a.svg">
										</div>
										<div class="media-body col-12">
											<div class="media-comment-text">
												<h6 class="h5 mt-0">{{ comment.username }}</h6><small class="text-muted">{{ comment.created_at }}</small>
												<p class="text-sm lh-160 comment-item" v-html="comment.content"></p>
												<div class="icon-actions">
													<a @click="replyComment(comment.username,comment.id,0)" href="#commentMessage" class="like active">
														<i class="fas fa-reply"></i>
														<span class="text-muted">Reply</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="replyContainer" v-if="comment.nestedComments" v-for="reply in comment.nestedComments">
									<div class="media media-comment offset-1 col-11">
										<div>
											<img v-if="reply.avatar_url" class="avatar avatar-lg media-comment-avatar rounded-circle bg-light"
												:src="reply.avatar_url">
											<img v-if="!reply.avatar_url" class="avatar avatar-lg media-comment-avatar rounded-circle bg-light"
												src="https://www.chinesepod.com/home/img/symbol-black-center.d7c26c3a.svg">
										</div>
										<div class="media-body col-12">
											<div class="media-comment-text">
												<h6 class="h5 mt-0">{{ reply.username }}</h6><small class="text-muted">{{ reply.created_at }}</small>
												<p class="text-sm lh-160 comment-item" v-html="reply.content"></p>
												<div class="icon-actions">
													<a @click="replyComment(reply.username,reply.id,0)" href="#commentMessage" class="like active">
														<i class="fas fa-reply"></i>
														<span class="text-muted">Reply</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<hr>

							<div id="commentMessage" >
								<div class="media align-items-center">
									<img  alt="Profile Picture" src="https://www.chinesepod.com/home/img/symbol-black-center.d7c26c3a.svg" class="d-none d-sm-block avatar avatar-lg rounded-circle mr-4">
									<div  class="media-body">
										<div  class="col-12">

											<div class="text-editor">
												<textarea class="form-control cmnt-comment" v-model="commentMessage" placeholder="Leave a comment here" id="commentTextArea"></textarea>
												<label for="floatingTextarea">Write your comment</label>
												<b style="font-style: italic;font-size: 12px;" v-if="replyUsername">Reply to
													{{ replyUsername }}</b>
											</div>
										</div>
									</div>
								</div>
								<div  class="text-right mt-2">
									<button type="button" class="btn btn-secondary">Cancel</button>
									<button @click="addComment()" type="button" class="btn btn-default">Comment</button>
								</div>
							</div>

						</div>

						<div class="tab-pane fade show" id="nav-downloads" role="tabpanel" aria-labelledby="nav-downloads-tab">
							<div class="card-body downloads">
								<div >
									<h2 class="h2">Downloads</h2>
									<div v-if="downloads" class="row is-justify-space-between">

										<div v-if="downloads.downloads.video" class="col-sm-6 col-xl-3">
											<div @click.prevent="downloadURI(downloads.downloads.video,'video')">
												<div class="card border-0 text-center bg-gray">
													<div class="card-body">
														<div class="row">
															<div class="col">
																<h4 class="text-uppercase ls-1 text-white py-3 mb-0">Video Lesson</h4>
															</div>
															<div class="col-auto my-auto">
																<button type="button" class="btn btn-light btn-sm">
																	<i class="ni-lg py-2 fas fa-download"></i>
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div v-if="downloads.downloads.lesson" class="col-sm-6 col-xl-3">
											<div @click.prevent="downloadURI(downloads.downloads.lesson,'lesson')">
												<div class="card border-0 text-center bg-gray">
													<div class="card-body">
														<div class="row">
															<div class="col">
																<h4 class="text-uppercase ls-1 text-white py-3 mb-0">Lesson</h4>
															</div>
															<div class="col-auto my-auto">
																<button type="button" class="btn btn-light btn-sm">
																	<i class="ni-lg py-2 fas fa-download"></i>
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div v-if="downloads.downloads.dialogue" class="col-sm-6 col-xl-3">
											<div @click.prevent="downloadURI(downloads.downloads.dialogue,'dialogue')">
												<div class="card border-0 text-center bg-gray">
													<div class="card-body">
														<div class="row">
															<div class="col">
																<h4 class="text-uppercase ls-1 text-white py-3 mb-0">Dialogue</h4>
															</div>
															<div class="col-auto my-auto">
																<button type="button" class="btn btn-light btn-sm">
																	<i class="ni-lg py-2 fas fa-download"></i>
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div v-if="downloads.downloads.review" class="col-sm-6 col-xl-3">
											<div @click.prevent="downloadURI(downloads.downloads.review,'review')">
												<div class="card border-0 text-center bg-gray">
													<div class="card-body">
														<div class="row">
															<div class="col">
																<h4 class="text-uppercase ls-1 text-white py-3 mb-0">Review</h4>
															</div>
															<div class="col-auto my-auto">
																<button type="button" class="btn btn-light btn-sm">
																	<i class="ni-lg py-2 fas fa-download"></i>
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div v-if="downloads.downloads.pdf1" class="col-sm-6 col-xl-3">
											<div @click.prevent="downloadURI(downloads.downloads.pdf1,'pdf1')">
												<div class="card border-0 text-center bg-gray">
													<div class="card-body">
														<div class="row">
															<div class="col">
																<h4 class="text-uppercase ls-1 text-white py-3 mb-0">Notes (Simp)</h4>
															</div>
															<div class="col-auto my-auto">
																<button type="button" class="btn btn-light btn-sm">
																	<i class="ni-lg py-2 fas fa-download"></i>
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div v-if="downloads.downloads.pdf2" class="col-sm-6 col-xl-3">
											<div @click.prevent="downloadURI(downloads.downloads.pdf2,'pdf2')">
												<div class="card border-0 text-center bg-gray">
													<div class="card-body">
														<div class="row">
															<div class="col">
																<h4 class="text-uppercase ls-1 text-white py-3 mb-0">Notes (Trad)</h4>
															</div>
															<div class="col-auto my-auto">
																<button type="button" class="btn btn-light btn-sm">
																	<i class="ni-lg py-2 fas fa-download"></i>
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
								
									</div>

									<p v-if="fileLoader"
										style="overflow:hidden;position:relative;border: 1px solid #e11e1d;border-radius: 14px;"
										class="text-center">
										<span
											:style="'display: block;background: #e11e1d;position: absolute;left: 0;top: 0;height:100%;width:'+filePercent+'%;'"></span>
										<span style="position:relative;z-index:100">Downloading {{ fileDownloadName }}
											{{ filePercent }}%</span>
									</p>

									<p v-if="!downloads">No downloads to show right now.</p>
								</div>
							</div>

							
						</div>
					</div>
					<!-- tabs end -->
				</div>

			</div>
		</div>
	</div>
</section>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body">
				<h4>Are you sure?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal"
					@click="deleteCommentId()">Delete</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="createNewDeck" tabindex="-1" role="dialog" aria-labelledby="createNewDeckLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body">
				<h4>Are you sure?</h4>
				<div class="form-group">
					<input type="text" class="form-control" v-model="newDeckCategory" :value="lesson.title">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal"
					@click="addDeckCategory()">Add</button>
			</div>
		</div>
	</div>
</div>

<div style="position: fixed;z-index: 100; top:10px; left: 0;width:100%" id="messageContainer">

</div>