<section style="padding-top:30px">

	<div class="">
		<div class="row">
			<div class="col-lg-9">
				<div class="video-header">
					<h1><%= (content ? content.title : '' ) %></h1>
					<div class="breadcrumb" style="padding: 15px 30px">
						<nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns=&#39;http://www.w3.org/2000/svg&#39; width=&#39;8&#39; height=&#39;8&#39;%3E%3Cpath d=&#39;M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z&#39; fill=&#39;currentColor&#39;/%3E%3C/svg%3E&quot;);"
							aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item" aria-current="page"><a href="/courses">Course Overview</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									<%= (content ? content.title : '' ) %>
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-lg-3">

				<div class="my-btn-group d-flex align-items-center mt-2 gap-3 mb-4 mb-lg-0">
					<button @click="saveLesson" type="button" v-bind:class="{ text-danger: lesson.saved }"
						class="btn btn-icon btn-block btn-secondary">
						<i class="m-0 fas fa-bookmark"></i> <strong>Saved</strong>
					</button>
					<button @click="studyCompleted" type="button"
						v-bind:class="{ text-danger: (lesson.studied > 0 ? false : true) }"
						class="btn btn-icon btn-block btn-secondary">
						<i class="m-0 far fa-check-circle"></i> <strong>Completed</strong>
					</button>
				</div>
			</div>


		</div>
		<div class="row">


			<div class="col-lg-<%= (course && course.length > 0 ? '9' : '8 m-auto') %>">
				<%
					let imageUrl = ""
					if (content && content.image && content.image.includes("https")) {
						imageUrl = content.image
					} else {
						imageUrl = ""
					}

				%>

				<div class="tab-content">

					<div id="nav-video" v-bind:class="{'d-none': (isActive == 'video' ? false : true) }">
						<div class="video-main">

							<video id="videoplyr-s3" class="img-fluid" playsinline crossorigin
								data-poster="<%= imageUrl %>"></video>

						</div>
					</div>

					<div id="nav-audio" v-bind:class="{'d-none': (isActive == 'audio' ? false : true) }">
						<div class="video-main">
							<div class="card mb-0">
								<img alt="<%= content.title %>" class="card-img" :src="lesson.image" lazy="loaded">
								<div id="lessonOverlay" class="card-img-overlay d-flex align-items-center ">
									<div class="mx-auto">
										<div class="audio-player-controls">
											<div class="col-12">
												<div class="row">
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-040-backward text-white jump emphasize-dark"></i>
														</button>
													</div> -->
													<div class="col-12">
														
														<button type="button" class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default play-audio">
															<i class="text-white play-button emphasize-dark fi flaticon-013-play"></i>
															<audio>
																<%
																let audioURL = ""
																if (content.mp3_private.includes("https")) {
																	audioURL = content.mp3_private
																} else {
																	audioURL = "https://s3contents.chinesepod.com/"+ content.v3_id + "/" + content.hash_code +"/"+ content.mp3_private
																}
						
																%>
																<source src="<%= audioURL %>" type="audio/mp3">
																Your browser does not support the audio element.
															</audio>
														</button>

													</div>
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-032-forwards text-white jump emphasize-dark"></i>
														</button>
													</div> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div id="nav-review" v-bind:class="{'d-none': (isActive == 'review' ? false : true) }">
						<div class="review-main">

							<div class="card mb-0">
								<img alt="<%= content.title %>" class="card-img" :src="lesson.image" lazy="loaded">
								<div id="lessonOverlay" class="card-img-overlay d-flex align-items-center ">
									<div class="mx-auto">
										<div class="audio-player-controls">
											<div class="col-12">
												<div class="row">
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-040-backward text-white jump emphasize-dark"></i>
														</button>
													</div> -->
													<div class="col-12">
														
														<button type="button" class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default play-audio">
															<i class="text-white play-button emphasize-dark fi flaticon-013-play"></i>
															<audio>
																<%
																let audioURLR = ""
																if (content.mp3_thefix.includes("https")) {
																	audioURLR = content.mp3_thefix
																} else {
																	audioURLR = "https://s3contents.chinesepod.com/"+ content.v3_id + "/" + content.hash_code +"/"+ content.mp3_thefix
																}
						
																%>
																<source src="<%= audioURLR %>" type="audio/mp3">
																Your browser does not support the audio element.
															</audio>
														</button>

													</div>
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-032-forwards text-white jump emphasize-dark"></i>
														</button>
													</div> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div id="nav-review" v-bind:class="{'d-none': (isActive == 'dialogue' ? false : true) }">
						<div class="review-main">

							<div class="card mb-0">
								<img alt="<%= content.title %>" class="card-img" :src="lesson.image" lazy="loaded">
								<div id="lessonOverlay" class="card-img-overlay d-flex align-items-center ">
									<div class="mx-auto">
										<div class="audio-player-controls">
											<div class="col-12">
												<div class="row">
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-040-backward text-white jump emphasize-dark"></i>
														</button>
													</div> -->
													<div class="col-12">
														
														<button type="button" class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default play-audio">
															<i class="text-white play-button emphasize-dark fi flaticon-013-play"></i>
															<audio>
																<%
																let audioURLD = ""
																if (content.mp3_dialogue.includes("https")) {
																	audioURLD = content.mp3_dialogue
																} else {
																	audioURLD = "https://s3contents.chinesepod.com/"+ content.v3_id + "/" + content.hash_code +"/"+ content.mp3_dialogue
																}
						
																%>
																<source src="<%= audioURLD %>" type="audio/mp3">
																Your browser does not support the audio element.
															</audio>
														</button>

													</div>
													<!-- <div class="col-4">
														<button type="button"
															class="btn bg-transparent border-0 shadow-none p-0 m-0 btn-default">
															<i
																class="fi flaticon-032-forwards text-white jump emphasize-dark"></i>
														</button>
													</div> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>


				</div>

				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-auto mt-2">
								<label class="custom-toggle">
									<input type="checkbox">
									<span data-label-off="No" data-label-on="Yes"
										class="custom-toggle-slider rounded-circle"></span>
								</label>
							</div>
							<div class="col small pt-1" style="display: flex; align-items: center;">
								<span>Automatically mark lessons as completed</span>
								<span class="ml-1">
									<span class="el-popover__reference-wrapper">
										<i class="fa fa-info-circle el-popover__reference"
											aria-describedby="el-popover-2537" tabindex="0"></i>
									</span>
								</span>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div id="access-different-recorded-materials" class="row">

							<div v-if="lesson.video" class="col-6 col-md-4 mt-2">
								<button @click="setActive('video')" type="button"
									:class="'btn btn-block ' + (isActive == 'video' ? 'btn-primary':'btn-secondary')">
									<i class="fas fa-film"></i> Video Lesson
								</button>
							</div>

							<div v-if="lesson.mp3_private" class="col-6 col-md-4 mt-2">
								<button @click="setActive('audio')" type="button"
									:class="'btn btn-block ' + (isActive == 'audio' ? 'btn-primary':'btn-secondary')">
									<i class="fas fa-podcast"></i> Audio Lesson
								</button>
							</div>
							
							<div v-if="lesson.mp3_dialogue" class="col-6 col-md-4 mt-2">
								<button @click="setActive('dailogue')" type="button"
									:class="'btn btn-block ' + (isActive == 'review' ? 'btn-primary':'btn-secondary')">
									<i class="ni icon-speaking"></i> Dialogue
								</button>
							</div>

							<div v-if="lesson.mp3_thefix" class="col-6 col-md-4 mt-2">
								<button @click="setActive('review')" type="button"
									:class="'btn btn-block ' + (isActive == 'review' ? 'btn-primary':'btn-secondary')">
									<i class="ni icon-vocabulary"></i> Review
								</button>
							</div>

						</div>
					</div>
				</div>


			</div>

			<div v-if="course && course.length > 0" class="col-lg-3 mb-4 mb-md-0">
				<h4 class="mb-3">Next in course:</h4>
				<div v-for="c in course" class="row">
					<div class="col-12 col-md-6 col-lg-12">
						<div class="card mb-3">
							<a :href="'/new/lesson/'+c.slug">

								<img :src="c.image && !c.image.includes('https') ? ('https://s3contents.chinesepod.com/' + c.id + '/' + c.hash_code + '/' + c.image) : c.image"
									class="card-img-top" alt="">
								<div class="card-body">
									<h6 class="card-title fw-bold">{{ c.title }}</h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<% let levelSlug = content.level.toLowerCase() %>

		<div class="row">
			<div class="card card-stats bg-gradient-secondary my-4 col-xl-10 offset-xl-1" show-footer-line="true">

				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="col">
									<div class="row">
										<h5 class="card-title text-uppercase text-muted mb-0"> In this Lesson</h5>
										<div class="ml-auto">
											<a href="/explore?search=&amp;<%= levelSlug.replace(' ', '-') %>=true"
												class="">
												<span
													class="badge float-right badge-default badge-lg <%= levelSlug.replace(' ', '-') %>">{{ lesson.level }}</span>
											</a>
											<span
												class="badge float-right mr-2 badge-default badge-lg <%= levelSlug.replace(' ', '-') %>">ID:
												{{ lesson.id }}</span>
										</div>
									</div>
									<div class="card-body mb-0">{{ lesson.introduction.trim() }}</div>
								</div>
							</div>
						</div>

					</div>
					<p class="mt-3 mb-0 text-sm">
						<span
							class="text-nowrap float-right mr-2 text-dark"><%= moment(content.updated_at).format('ddd MMM D YYYY') %>
							| {{ lesson.hosts }} </span>
					</p>
				</div>

			</div>

		</div>

		<div class="row" v-if="false">
			<div class="container">
				<div class="col-lg-9">
					<!-- tabs start -->
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<button v-if="dialogue" class="nav-link active" id="nav-dialogue-tab" data-bs-toggle="tab"
								data-bs-target="#nav-dialogue" type="button" role="tab" aria-controls="nav-dialogue"
								aria-selected="false">Dialogue</button>

							<button v-if="vocab" class="nav-link" id="nav-vocab-tab" data-bs-toggle="tab"
								data-bs-target="#nav-vocab" type="button" role="tab" aria-controls="nav-vocab"
								aria-selected="false">Vocabulary</button>

							<button v-if="expansion" class="nav-link" id="nav-expansion-tab" data-bs-toggle="tab"
								data-bs-target="#nav-expansion" type="button" role="tab" aria-controls="nav-expansion"
								aria-selected="false">Expansion</button>

							<button v-if="grammar" class="nav-link" id="nav-grammar-tab" data-bs-toggle="tab"
								data-bs-target="#nav-grammar" type="button" role="tab" aria-controls="nav-grammar"
								aria-selected="false">Grammar</button>

							<button v-if="questions" class="nav-link" id="nav-exercise-tab" data-bs-toggle="tab"
								data-bs-target="#nav-exercise" type="button" role="tab" aria-controls="nav-exercise"
								aria-selected="false">Exercise</button>

							<button class="nav-link" id="nav-comments-tab" data-bs-toggle="tab"
								data-bs-target="#nav-comments" type="button" role="tab" aria-controls="nav-comments"
								aria-selected="true">Comments</button>

							<button v-if="downloads" class="nav-link" id="nav-downloads-tab" data-bs-toggle="tab"
								data-bs-target="#nav-downloads" type="button" role="tab" aria-controls="nav-downloads"
								aria-selected="false">Downloads</button>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-dialogue" role="tabpanel"
							aria-labelledby="nav-profile-tab">
							<div class="dialogue-main">

								<div class="dialogue py-3">
									<div class="mb-3">
										<button type="button" @click="printContent('dialogue')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Dialogue</h2>
									</div>

									<ul v-if="dialogue" class="list-group d-block d-sm-flex w-100 list-group-horizontal"
										style="flex-wrap: wrap;">
										<li v-for="dia in dialogue.dialogue" class="list-group-item w-50 w-md-50 p-4"
											style="border-width:1px !important">
											<div
												class="mandarin-chars-main d-flex align-items-center justify-content-between">
												<div class="mandarin-chars">
													<span v-for="sentence in dia.sentence" v-if="sentence.s">

														<span class="mandarin-char position-relative">
															<span class="fs-2 c-hand"
																v-if="vuex.userInfo.charSet == 'simplified'">{{ sentence.s }}</span>
															<span class="fs-2 c-hand"
																v-if="vuex.userInfo.charSet == 'traditional'">{{ sentence.t }}</span>
															<div
																class="mandarin-char-tooltip position-absolute start-0 rounded p-3 bg-light fs-5">
																<div class="addVocab c-hand"
																	@click="addVocab(sentence)"><i
																		class="fa fa-plus"></i></div>
																<div v-if="vuex.userInfo.charSet == 'simplified'"
																	class="fs-2 mb-2">{{ sentence.s }}</div>
																<div v-if="vuex.userInfo.charSet == 'traditional'"
																	class="fs-2 mb-2">{{ sentence.t }}</div>
																<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
																<div class="border-top pt-1" v-html="sentence.en"></div>
															</div>
														</span>
													</span>

												</div>
												<div style="color:#dc3545" class="play-audio icon fs-5">
													<i class="fa fa-play"></i>
													<audio>
														<source
															:src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+dia.audio"
															type="audio/mp3">
														Your browser does not support the audio element.
													</audio>
												</div>
											</div>
											<div class="translation-group fs-5">
												<div
													class="pinyin-writing-main d-flex align-items-center justify-content-between">
													<div class="pinyin-writing show-hide-txt my-3">
														<span>...</span>
														<span>{{ pinyinConvert(dia.p) }}</span>
													</div>
													<div style="color:#198754" class="icon toggle-show-hide fs-5">
														<i class="bi bi-eye-slash-fill"></i>
													</div>
												</div>
												<div
													class="english-translation-main d-flex align-items-center justify-content-between">
													<div class="english-translation show-hide-txt">
														<span>...</span>
														<span>{{ dia.en }}</span>
													</div>
													<div class="icon toggle-show-hide fs-5">
														<i class="bi bi-eye-slash-fill"></i>
													</div>
												</div>
											</div>

										</li>

									</ul>

									<p v-if="!dialogue" class="warning">Dialogue not found</p>

									<!-- printable content -->
									<div id="printable-dialogue" class="d-none">
										<img src="https://www.chinesepod.com/home/img/logo.a070ebf6.png"
											style="width:200px" alt="ChinesePod" class="navbar-brand-img">
										<h2 style="text-align:center">{{ lesson.title }} - Dialogue</h2>

										<ol v-if="dialogue">
											<li v-for="dia in dialogue.dialogue">
												<p>{{ vuex.userInfo.charSet == 'simplified' ? dia.s : dia.t }}<br>
													{{ pinyinConvert(dia.p) }}<br>
													{{ dia.en }}</p>
											</li>
										</ol>
									</div>
								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-vocab" role="tabpanel" aria-labelledby="nav-vocab-tab">
							<div class="vocab-main">

								<div class="vocab py-3">
									<div class="mb-3">
										<button type="button" @click="printContent('vocabulary')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Vocabulary</h2>
									</div>

									<table v-if="vocab" class="table">
										<thead>
											<tr>
												<th style="width:35%">
													{{ vuex.userInfo.charSet == 'traditional' ? 'Traditional' : 'Simplified' }}
												</th>
												<th style="width:25%">Pinyin</th>
												<th style="width:25%">English</th>
												<th>
													<div class="save-all-container" v-if="decks">
														<span class="btn btn-primary mb-2"><i class="fa fa-plus"></i>
															Save all</span>
														<div class="deck-list">
															<ul>
																<li v-for="deck in decks"
																	@click="setSelectedDeckId(deck.id)">{{ deck.tag }}
																</li>
															</ul>
															<span class="btn btn-default" data-bs-toggle="modal"
																data-bs-target="#createNewDeck"><i
																	class="fa fa-plus"></i> Create Deck</span>
														</div>
													</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="voc in vocab">

												<td>
													<div class="hanziContainer">
														<div v-if="vuex.userInfo.charSet === 'traditional'"
															v-for="ndx in voc.t.length" :id="'target-t-'+ndx+'-'+voc.id"
															:class="'js-animate-t-'+ndx+'-'+voc.id">
															<span class="loader">loading...</span>
															{{ showHanzi('target-t-'+ndx+'-'+voc.id, 'js-animate-t-'+ndx+'-'+voc.id,voc.t[ndx] ) }}
														</div>
														<div v-if="vuex.userInfo.charSet === 'simplified'"
															v-for="ndx in voc.s.length" :id="'target-s-'+ndx+'-'+voc.id"
															:class="'js-animate-s-'+ndx+'-'+voc.id">
															<span class="loader">loading...</span>
															{{ showHanzi('target-s-'+ndx+'-'+voc.id, 'js-animate-s-'+ndx+'-'+voc.id,voc.s[ndx] ) }}
														</div>
													</div>
												</td>
												<td>{{ voc.p }}</td>
												<td>{{ voc.en }}</td>
												<td>
													<div v-if="voc.audio" style="display:inline-block;color:#dc3545"
														class="play-audio icon fs-5">
														<i class="fa fa-play c-hand"></i>
														<audio>
															<source
																:src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+voc.audio"
																type="audio/mp3">
															Your browser does not support the audio element.
														</audio>
													</div>

													<div style="display:inline-block;color:#f7b500"
														@click="copyClipboard( (vuex.userInfo.charSet == 'traditional' ? voc.t : voc.s ) + ' - ' + voc.p + ' - ' + voc.en )"
														class="icon c-hand">
														<i class="fa fa-copy"></i>
													</div>

													<div style="display:inline-block;color:#198754"
														@click="addVocab(voc)" class="icon c-hand">
														<i class="fa fa-plus"></i>
													</div>

												</td>
											</tr>
										</tbody>
									</table>

									<div id="printable-vocabulary" class="d-none">
										<img src="https://www.chinesepod.com/home/img/logo.a070ebf6.png"
											style="width:200px" alt="ChinesePod" class="navbar-brand-img">
										<h2 style="text-align:center">{{ lesson.title }} - Vocabulary</h2>

										<ol v-if="vocab">
											<li v-for="voc in vocab">
												<p>{{ vuex.userInfo.charSet == 'simplified' ? voc.s : voc.t }}<br>
													{{ pinyinConvert(voc.p) }}<br>
													{{ voc.en }}</p>
											</li>
										</ol>
									</div>

									<p v-if="!vocab" class="warning">Vocabulary not found</p>

								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-expansion" role="tabpanel"
							aria-labelledby="nav-expansion-tab">
							<div class="expansion-main">
								<div class="expansion py-3">

									<div class="mb-3">
										<button type="button" @click="printContent('expansion')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Expansion</h2>
									</div>

									<ul v-if="expansion"
										class="list-group d-block d-sm-flex w-100 list-group-horizontal"
										style="flex-wrap: wrap;">
										<li v-for="exp in expansion" class="list-group-item w-50 w-md-50 p-4"
											style="border-width:1px !important">
											<h4
												style="background: #e11e1d;padding: 5px;border-radius: 4px;display: inline-block;color: #fff;">
												{{ exp.phrase }}</h4>
											<div v-for="examples in exp.examples" class="mb-3">
												<div
													class="mandarin-chars-main d-flex align-items-center justify-content-between">
													<div class="mandarin-chars">

														<span v-for="sentence in examples.sentence" v-if="sentence.s"
															class="mandarin-char position-relative">
															<span class="fs-2 c-hand">{{ sentence.s }}</span>
															<div
																class="mandarin-char-tooltip position-absolute start-0 rounded p-3 mt-2 bg-light fs-5">
																<div class="addVocab c-hand"
																	@click="addVocab(sentence)"><i
																		class="fa fa-plus"></i></div>
																<div v-bind:class="{'d-none': (vuex.userInfo.charSet == 'simplified' ? false : true) }"
																	class="fs-2 mb-2 c-hand">{{ sentence.s }}</div>
																<div v-bind:class="{'d-none': (vuex.userInfo.charSet == 'traditional' ? false : true) }"
																	class="fs-2 mb-2 c-hand">{{ sentence.t }}</div>
																<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
																<div class="border-top pt-1">{{ sentence.en }}</div>
															</div>
														</span>


													</div>
													<div style="color:#dc3545" class="play-audio icon fs-5">
														<i class="fa fa-play"></i>
														<audio>
															<source
																:src="'https://s3contents.chinesepod.com/'+lesson.id+'/'+lesson.hash_code+'/'+examples.audio"
																type="audio/mp3">
															Your browser does not support the audio element.
														</audio>
													</div>
												</div>
												<div class="translation-group fs-5">
													<div
														class="pinyin-writing-main d-flex align-items-center justify-content-between">
														<div class="pinyin-writing show-hide-txt my-3">
															<span>...</span>
															<span>{{ pinyinConvert(examples.p) }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
													<div
														class="english-translation-main d-flex align-items-center justify-content-between">
														<div class="english-translation show-hide-txt">
															<span>...</span>
															<span>{{ examples.en }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
												</div>
												<hr>
											</div>

										</li>

									</ul>

									<div id="printable-expansion" class="d-none">
										<img src="https://www.chinesepod.com/home/img/logo.a070ebf6.png"
											style="width:200px" alt="ChinesePod" class="navbar-brand-img">
										<h2 style="text-align:center">{{ lesson.title }} - Expansion</h2>
										<div v-if="expansion">
											<div v-for="exp in expansion">
												<h4>{{ exp.phrase }}</h4>
												<ol>
													<li v-for="examples in exp.examples">
														<p>{{ vuex.userInfo.charSet == 'simplified' ? examples.s : examples.t }}<br>
															{{ pinyinConvert(examples.p) }}<br>
															{{ examples.en }}</p>
													</li>
												</ol>
											</div>

										</div>

									</div>

									<p v-if="!expansion" class="warning">Vocabulary not found</p>

								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-grammar" role="tabpanel" aria-labelledby="nav-grammar-tab">
							<div class="grammar-main">
								<div class="grammar py-3">

									<div class="mb-3">
										<button type="button" @click="printContent('grammar')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Grammar</h2>
									</div>

									<ul v-if="grammar" class="list-group d-block d-sm-flex w-100 list-group-horizontal"
										style="flex-wrap: wrap;">
										<li v-for="exp in grammar" class="list-group-item w-100 w-md-100 p-4 mb-3"
											style="border-width:1px !important">
											<div class="alert alert-info">
												<h3>{{ exp.grammar.name }}: <span>{{ exp.grammar.introduction }}</span>
												</h3>
												<p>{{ exp.grammar.tree }}</p>
											</div>
											<div v-for="examples in exp.examples" class="mb-3">
												<div
													class="mandarin-chars-main d-flex align-items-center justify-content-between">
													<div class="mandarin-chars">

														<span v-for="sentence in examples.sentence" v-if="sentence.s"
															class="mandarin-char position-relative">
															<div class="addVocab c-hand" @click="addVocab(sentence)"><i
																	class="fa fa-plus"></i></div>
															<span
																v-bind:class="{'d-none': (vuex.userInfo.charSet == 'simplified' ? false : true) }"
																class="fs-2 c-hand">{{ sentence.s }}</span>
															<span
																v-bind:class="{'d-none': (vuex.userInfo.charSet == 'traditional' ? false : true) }"
																class="fs-2 c-hand">{{ sentence.t }}</span>
															<div
																class="mandarin-char-tooltip position-absolute start-0 rounded p-3 mt-2 bg-light fs-5">
																<div v-bind:class="{'d-none': (vuex.userInfo.charSet == 'simplified' ? false : true) }"
																	class="fs-2 mb-2">{{ sentence.s }}</div>
																<div v-bind:class="{'d-none': (vuex.userInfo.charSet == 'traditional' ? false : true) }"
																	class="fs-2 mb-2">{{ sentence.t }}</div>
																<div class="mb-2">{{ pinyinConvert(sentence.p) }}</div>
																<div class="border-top pt-1">{{ sentence.en }}</div>
															</div>
														</span>


													</div>
													<div style="color:#dc3545" class="play-audio icon fs-5">
														<i class="fa fa-play"></i>
														<audio>
															<source v-if="!examples.audio.includes('http')"
																:src="'https://s3contents.chinesepod.com/grammar/grammar_'+exp.grammar.id+'/'+exp.grammar.id+'/expansion/translation/mp3/'+examples.audio"
																type="audio/mp3">
															<source v-if="examples.audio.includes('http')"
																:src="examples.audio" type="audio/mp3">
															Your browser does not support the audio element.
														</audio>
													</div>
												</div>
												<div class="translation-group fs-5">
													<div
														class="pinyin-writing-main d-flex align-items-center justify-content-between">
														<div class="pinyin-writing show-hide-txt my-3">
															<span>...</span>
															<span>{{ pinyinConvert(examples.p) }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
													<div
														class="english-translation-main d-flex align-items-center justify-content-between">
														<div class="english-translation show-hide-txt">
															<span>...</span>
															<span>{{ examples.en }}</span>
														</div>
														<div class="icon toggle-show-hide fs-5">
															<i class="bi bi-eye-slash-fill"></i>
														</div>
													</div>
												</div>
												<hr>
											</div>

										</li>

									</ul>

									<div id="printable-grammar" class="d-none">
										<img src="https://www.chinesepod.com/home/img/logo.a070ebf6.png"
											style="width:200px" alt="ChinesePod" class="navbar-brand-img">
										<h2 style="text-align:center">{{ lesson.title }} - Grammar</h2>
										<div v-if="grammar">
											<div v-for="exp in grammar">
												<h4>{{ exp.grammar.name }}</h4>
												<h5>{{ exp.grammar.introduction }}</h5>
												<ol>
													<li v-for="examples in exp.examples">
														<p>{{ vuex.userInfo.charSet == 'simplified' ? examples.s : examples.t }}<br>
															{{ pinyinConvert(examples.p) }}<br>
															{{ examples.en }}</p>
													</li>
												</ol>
											</div>

										</div>

									</div>

									<p v-if="!grammar" class="warning">Vocabulary not found</p>

								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-exercise" role="tabpanel" aria-labelledby="nav-exercise-tab">
							<div class="exercise-main">
								<div class="exercise py-3">

									<div class="mb-3">
										<button type="button" @click="printContent('exercise')"
											class="btn d-block float-right btn-light btn-sm"><i
												class="fas fa-print"></i> Print</button>
										<button type="button" @click="setCharset('simplified')"
											v-if="vuex.userInfo.charSet == 'traditional'"
											class="btn float-right btn-light btn-sm">Simp: 汉字</button>
										<button type="button" @click="setCharset('traditional')"
											v-if="vuex.userInfo.charSet == 'simplified'"
											class="btn float-right btn-light btn-sm">Trad: 漢字</button>
										<h2 class="h2">Exercise</h2>
									</div>

									<%- include('../partials/exerciseTabContent'); %>

									<div id="printable-exercise" class="d-none">
										<h3>Exercise</h3>

										<h4>CHOOSE THE RIGHT OPTION<br>1 POINT</h4>
										<ol>
											<li v-for="(ndx, q) in questions.choice">
												<h5>{{ (vuex.userInfo.charSet == 'simplified' ? q.question.s : q.question.t) }}
												</h5>
												<h6>{{ q.question.p }}</h6>
												<ul class="exe-options">
													<li v-for="choices in q.question.choices"
														style="float: left;width:20%">
														{{ choices.t }} <br>{{ choices.p }}
													</li>
												</ul>
												<div style="clear:both"></div>
											</li>
										</ol>

										<h4>MATCH THE PHRASE WITH THE TRANSLATION<br>5 POINT</h4>
										<ol>
											<li v-for="(ndx, m) in questions.matching">

												<ul style="float:left; width:35%">
													<li v-for="matching in rumbleArray(m.question.segments,m.question.segments.length)"
														v-if="matching.id">
														<p>{{ ( vuex.userInfo.charSet == 'simplified' ? matching.s : matching.t) }}<br>{{ matching.p }}
														</p>
													</li>
												</ul>

												<ul style="float:left; width:35%">
													<li v-for="matching in rumbleArray(m.question.segments,m.question.segments.length)"
														v-if="matching.id">
														<p>{{ matching.e }}</p>
													</li>
												</ul>
												<div style="clear:both"></div>
												<hr>
											</li>
										</ol>

										<h4>RE-ORDER THE SEGMENTS<br>6 POINT</h4>

										<ol>
											<li v-for="(ndx, r) in questions.rearrange">

												<ul>
													<li v-for="segments in rumbleArray(r.question.segments)">
														<div class="col-10 col-sm-11">
															<span
																class="characters">{{ ( vuex.userInfo.charSet == 'simplified' ? segments.s : segments.t ) }}</span>
															<footer class="pinyin">{{ segments.p }}</footer>
														</div>
													</li>
												</ul>


												<div style="clear:both"></div>
												<hr>
											</li>
										</ol>

									</div>

								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="comments-form mt-4">

								<div class="comment-bar">

									<div class="right">
										<div class="form-floating cmnt-textarea">

											<textarea class="form-control cmnt-comment" v-model="commentMessage"
												placeholder="Leave a comment here" id="commentTextArea"></textarea>
											<label for="floatingTextarea">Write your comment</label>
											<b style="font-style: italic;font-size: 12px;" v-if="replyUsername">Reply to
												{{ replyUsername }}</b>
										</div>
									</div>
								</div>
								<div class="comment-submitbtn">
									<input class="btn btn-primary" type="submit" value="Comment" @click="addComment()">
								</div>

							</div>

							<div v-if="comments && comments.comments" v-for="comment in comments.comments"
								class="comments-wrapper">
								<div class="comment-main">
									<div class="left">
										<div class="comment-avatar">
											<img v-if="comment.avatar_url" class="avatar-img" :src="comment.avatar_url">
											<img v-if="!comment.avatar_url" class="avatar-img"
												src="https://www.chinesepod.com/home/img/symbol-black-center.d7c26c3a.svg">
										</div>
									</div>
									<div class="right">
										<div class="name">{{ comment.username }} <span
												class="date-time">{{ comment.created_at }}</span></div>

										<div class="comment-txt" v-html="comment.content"></div>

										<div class="comment-reacts">
											<div class="thumbs-up comment-react">
												<button class="btn btn-primary"
													@click="replyComment(comment.username,comment.id,0)">
													<i class="fa fa-reply"></i> Reply
												</button>

												<button v-if="comment.user_id == vuex.userInfo.userId"
													class="btn btn-danger"
													@click="setCommentId(comment.id,comment.content)">
													<i class="fa fa-pen"></i>
												</button>

												<button v-if="comment.user_id == vuex.userInfo.userId"
													class="btn btn-danger" data-bs-toggle="modal"
													data-bs-target="#confirm-delete" @click="setCommentId(comment.id)">
													<i class="fa fa-trash"></i>
												</button>

											</div>
										</div>
									</div>
								</div>
								<div style="padding-left:85px" class="replyContainer" v-if="comment.nestedComments"
									v-for="reply in comment.nestedComments">
									<div class="comment-main">
										<div class="left">
											<div class="comment-avatar">
												<img v-if="comment.avatar_url" class="avatar-img"
													:src="reply.avatar_url">
												<img v-if="!reply.avatar_url" class="avatar-img"
													src="https://www.chinesepod.com/home/img/symbol-black-center.d7c26c3a.svg">
											</div>
										</div>
										<div class="right">
											<div class="name">{{ reply.username }} <span
													class="date-time">{{ reply.created_at }}</span></div>

											<div class="comment-txt" v-html="reply.content"></div>

											<div class="comment-reacts">
												<div class="thumbs-up comment-react">
													<button class="btn btn-primary"
														@click="replyComment(reply.username,reply.id,0)">
														<i class="fa fa-reply"></i> Reply
														</btn>

														<button v-if="reply.user_id == vuex.userInfo.userId"
															class="btn btn-danger"
															@click="setCommentId(reply.id,reply.content)">
															<i class="fa fa-pen"></i>
														</button>

														<button v-if="reply.user_id == vuex.userInfo.userId"
															class="btn btn-danger" data-bs-toggle="modal"
															data-bs-target="#confirm-delete"
															@click="setCommentId(comment.id)">
															<i class="fa fa-trash"></i>
														</button>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="tab-pane fade show" id="nav-downloads" role="tabpanel"
							aria-labelledby="nav-profile-tab">

							<ul class="dl-List" v-if="downloads">
								<li v-if="downloads.downloads.video"><a
										@click.prevent="downloadURI(downloads.downloads.video,'video')" href="#"
										class="btn btn-info">Video Lesson</a></li>
								<li v-if="downloads.downloads.lesson"><a
										@click.prevent="downloadURI(downloads.downloads.lesson,'lesson')" href="#"
										class="btn btn-info">Lesson</a></li>
								<li v-if="downloads.downloads.dialogue"><a
										@click.prevent="downloadURI(downloads.downloads.dialogue,'dialogue')" href="#"
										class="btn btn-info">Dialogue</a></li>
								<li v-if="downloads.downloads.review"><a
										@click.prevent="downloadURI(downloads.downloads.review,'review')" href="#"
										class="btn btn-info">Review</a></li>
								<li v-if="downloads.downloads.pdf1"><a
										@click.prevent="downloadURI(downloads.downloads.pdf1,'pdf1')" href="#"
										class="btn btn-info">Notes (Simp)</a></li>
								<li v-if="downloads.downloads.pdf2"><a
										@click.prevent="downloadURI(downloads.downloads.pdf2,'pdf2')" href="#"
										class="btn btn-info">Notes (Trad)</a></li>
							</ul>
							<p v-if="fileLoader"
								style="overflow:hidden;position:relative;border: 1px solid #e11e1d;border-radius: 14px;"
								class="text-center">
								<span
									:style="'display: block;background: #e11e1d;position: absolute;left: 0;top: 0;height:100%;width:'+filePercent+'%;'"></span>
								<span style="position:relative;z-index:100">Downloading {{ fileDownloadName }}
									{{ filePercent }}%</span>
							</p>
							<p></p>

							<p v-if="!downloads">No downloads to show right now.</p>
						</div>
					</div>
					<!-- tabs end -->
				</div>

				<div class="col-lg-3"></div>
			</div>
		</div>
	</div>
</section>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body">
				<h4>Are you sure?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal"
					@click="deleteCommentId()">Delete</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="createNewDeck" tabindex="-1" role="dialog" aria-labelledby="createNewDeckLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body">
				<h4>Are you sure?</h4>
				<div class="form-group">
					<input type="text" class="form-control" v-model="newDeckCategory" :value="lesson.title">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal"
					@click="addDeckCategory()">Add</button>
			</div>
		</div>
	</div>
</div>

<div style="position: fixed;z-index: 100; top:10px; left: 0;width:100%" id="messageContainer">

</div>